<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Message:</p>
<p><%= @message %></p>
<br>
<% if @response_method %>
<p>Respond to: </p>
<p><%= @response_method %></p>
<% end %>
</body>
</html>