<div class="columns sign-in">
  <div class="column">
    <div class="branding">
      <div class="logo">
        <img src="<%= asset_path 'logo4.png' %>" alt="Associated Students of Pomona College">
      </div>
      <div class="title is-3">
        Sign In
      </div>
      <div class="subtitle is-5">
        Log in to access more features, services, and pages
      </div>
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <div class="notification is-info">
            We are currently experiencing issues with CAS authentication for Pomona accounts. If you need to use an ASPC
            service that requires an account, please create an account using your personal e-mail through
            <strong>5C Students</strong> option.
            We apologize for any inconvenience.
          </div>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box">
          <h2 class="title is-4 has-text-weight-semibold">Pomona Students</h2>
          <p class="subtitle margin-bottom-2">Sign in with the CAS Login System you know and love!</p>
          <div class="buttons">
            <p><%= button_to 'Sign In', :login_cas, :class => 'button is-info' %></p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="box">
          <h2 class="title is-4 has-text-weight-semibold">5C Students</h2>
          <p class="subtitle">Sign in or create an account</p>
          <div class="buttons">
            <span class="button is-info" id="sign-in-to-account-button">Sign in</span>
            <span class="button is-light" id="create-account-button">Create an account</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal" id="sign-in-to-account-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card"></div>
    <header class="modal-card-head">
      <p class="modal-card-title">Existing Account</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <%= render 'sessions/login_to_existing_account' %>
  </div>
</div>

<div class="modal" id="create-account-modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card"></div>
    <header class="modal-card-head">
      <p class="modal-card-title">New Account</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <%= render 'sessions/create_new_account' %>
  </div>
</div>

<script>
    (function () {
        $(".delete").click(function () {
            $(".modal.is-active").removeClass('is-active');
        });

        $("#sign-in-to-account-button").click(function () {
            $("#sign-in-to-account-modal").addClass('is-active');
        });

        $("#create-account-button").click(function () {
            $("#create-account-modal").addClass('is-active');
        });
    })();
</script>