<h1>Sessions#new</h1>
<div class="container">
  <p>Find me in app/views/sessions/new.html.erb</p>
</div>

<p><%= button_to 'sessions', :action => 'create' %></p>
<a class="button is-primary">Button</a>