<footer class="footer application-footer">
    <div class="content has-text-centered">
      <p>
        &copy; Associated Students of Pomona College
      </p>
      <p>
        Website designed and maintained by ASPC Software Development Group.
      </p>
    </div>
</footer>