<div class="footer">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <p>&copy; 2019 Associated Students of Pomona College.</p>
      </div>
      <div class="column is-narrow">
        <a href="https://www.facebook.com/aspconline" class="facebook">
              <span class="icon is-medium">
                <i class="fa fa-lg fa-facebook"></i>
              </span>
        </a>
      </div>
      <div class="column text has-text-right-desktop">
        <p>Created by <%= link_to "ASPC Software Development Group", :aspc_software %>.</p>
      </div>
    </div>
  </div>
</div>
</footer>