<div class="footer">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <p>&copy; <%= Time.current.year %> Associated Students of Pomona College.</p>
      </div>
      <div class="column is-narrow">
        <a href="https://www.instagram.com/aspc.pomona/" class="instagram">
              <span class="icon is-medium">
                <i class="fa fa-lg fa-instagram"></i>
              </span>
        </a>
      </div>
      <div class="column text has-text-right-desktop">
        <p>Created by <%= link_to "ASPC Software Development Group", sdg_path %>.</p>
      </div>
    </div>
  </div>
</div>
</footer>