<footer class="footer application-footer">
    <div class="content has-text-centered">
      <p>
        &copy; Associated Students of Pomona College
      </p>
      <p>
        Website designed and maintained by <%= link_to "ASPC Software Development Group", :aspc_software, :class => 'has-text-white' %>.
      </p>
    </div>
</footer>