<% events = local_assigns.fetch(:events) %>
<% default_view = local_assigns.fetch(:default_view, 'listWeek') %>

<div id="event-calendar">
</div>

<br>
<%= link_to "Submit an event", new_event_path, :class => "button is-info" %>

<script>
    (function() {
        if($('#event-calendar').empty() == false) return; // weird workaround due to turbolinks reloading this script
        
        let events = <%= raw events.to_json %>;
        $('#event-calendar').fullCalendar({
            defaultView: '<%= default_view %>',
            header: {
                left: 'prev,next,today',
                right: 'listDay,listWeek,month'
            },
            buttonText: {
                today:    'today',
                month:    'month',
                week:     'week',
                basicWeek: 'week',
                day:      'day',
                listDay: 'day'
            },
            customButtons: {
                submitNewEvent: {
                    text: "Submit an event",
                    click: function() {
                        window.location.href = "<%= new_event_path %>";
                    }
                }
            },
            allDaySlot: false,
            editable: false,
            events: events,

            // append host name to the end of each event name in list view
            eventRender: function(event, element) {
                var hostElem = "<span class='event-host'> hosted by " + event.host + "</span>";
                element.find(".fc-list-item-title").append(hostElem);
            }
        });
    })();
</script>