<% title = local_assigns.fetch(:title) %>
<% subtitle = local_assigns.fetch(:subtitle, nil) %>

<section class="hero is-primary page-header">
  <div class="hero-body">
    <div class="container">
      <h1 class="title"><%= title %></h1>
      <% if subtitle %>
        <h2 class="subtitle">
          <%= raw subtitle %>
        </h2>
      <% end %>
    </div>
  </div>
</section>