<% meal_type = local_assigns.fetch(:meal_type) %>
<% day = local_assigns.fetch(:day) %>

<% menu_for_day_and_meal_type = Menu.where(:meal_type => meal_type).select {|x| x.day == day}.group_by(&:dining_hall) %>

<% if menu_for_day_and_meal_type.length > 0 %>
<% menu_for_day_and_meal_type.each do |dining_hall, menu| %>
  <section class="box">
    <h3 class="title"><%= dining_hall.capitalize %></h3>

    <div class="columns horizontal-scroll">
      <% menu.first.menu_items.group_by(&:station).sort_by{|k,v| v.length}.reverse.each_with_index do |(station, menu_items), index| %>
        <div class="column is-3">
          <h4 class="subtitle is-4"><%= station %></h4>
          <ul>
            <% menu_items.each do |menu_item| %>
              <li><%= menu_item.name %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
<% else %>
  <p>Closed today. Try another dining hall!</p>
<% end %>