<% content_for :header do %>
  <%= render 'components/page_header', :title => "Dining Hall Menus", :subtitle => "Munch munch" %>
<% end %>

<div class="tabs is-centered is-boxed is-medium">
  <ul>
    <li class="is-active">
      <a>
        <span>Frank</span>
      </a>
    </li>
    <li>
      <a>
        <span>Frary</span>
      </a>
    </li>
    <li>
      <a>
        <span>Claremont McKenna</span>
      </a>
    </li>
    <li>
      <a>
        <span>Harvey Mudd</span>
      </a>
    </li>
    <li>
      <a>
        <span>Scripps</span>
      </a>
    </li>
    <li>
      <a>
        <span>Pitzer</span>
      </a>
    </li>
  </ul>
</div>

<div class="tabs is-centered is-toggle is-fullwidth is-small">
  <ul>
    <li class="is-active">
      <a>
        <span>Sunday</span>
      </a>
    </li>
    <li>
      <a>
        <span>Monday</span>
      </a>
    </li>
    <li>
      <a>
        <span>Tuesday</span>
      </a>
    </li>
    <li>
      <a>
        <span>Wednesday</span>
      </a>
    </li>
    <li>
      <a>
        <span>Thursday</span>
      </a>
    </li>
    <li>
      <a>
        <span>Friday</span>
      </a>
    </li>
    <li>
      <a>
        <span>Saturday</span>
      </a>
    </li>
  </ul>
</div>

<div style="height: 500px">

</div>