<% content_for :header do %>
  <%= render 'components/page_header', :title => "Open Forum", :subtitle => "Lorem ipsum dot" %>
<% end %>

<div class="columns">
  <div class="column">
    <div class="notification is-danger">
    An error occurred while trying to send your message. Please try again later or contact software@aspc.pomona.edu.
    </div>
  </div>
</div>