<% instructors = @instructors %>

<!-- Search Results -->
<div id="instructors-list-container">
  <% if instructors %>
    <div class="results-heading">
      Showing <%= instructors.length %> results
    </div>
    <div id="instructors-list-results">
      <% instructors.each do |instructor| %>
        <article class="message">
          <div class="message-header">
            <%= instructor.name %>
            <%= render 'components/numerical_review', rating: instructor.overall_rating, tag_classes: 'is-info', show_icon: true %>
          </div>
          <div class="message-body">

          </div>
        </article>
      <% end %>
    </div>
  <% end %>
</div>