<% content_for :header do %>
  <%= render 'components/page_header', :title => "Housing Platform" %>
<% end %>

<p class="margin-bottom-1">
  <strong>Need help finding roommates for Spring 2021?</strong> The ASPC Housing Platform can help you connect with
  other students
  seeking Spring housing! Click the link under "Add a New Listing" to let others know whom you are looking for, and use
  the directory under "Current Listings" to find students who might fit your bill. Completing both steps (and
  consistently checking the directory) will help you find roommates most efficiently.
</p>

<p class="margin-bottom-1">
  This resource is available to you regardless what stage of planning you are in: whether you represent a group that has
  found housing and is seeking to fill some rooms, or whether you are an individual student seeking to join others.
  Contact <a href="mailto:operations@aspc.pomona.edu">operations@aspc.pomona.edu</a> with any questions.
</p>

<p class="margin-bottom-1">
  If you would like to have your listing removed, email
  <a href="operations@aspc.pomona.edu">operations@aspc.pomona.edu</a> with the subject line: "Delete
  Housing Listing". Please allow 2-3 business days for your request to be processed.
</p>

<p class="margin-bottom-2">
  <strong>Note</strong>: As of the day this platform is released (11/18/20), ASPC is not aware of final details
  regarding the Spring 2021 semester, including how many students the college plans to bring on campus. The purpose of
  this platform is to support any students who have decided to seek remote housing regardless. Please be safe when
  finding remote housing and follow all public health guidelines concerning the COVID-19 pandemic.
</p>

<div class="columns">
  <div class="column">
    <div class="box equal-height-column">
      <h4 class="title is-4 margin-bottom-1">Current Listings</h4>
      <p class="margin-bottom-2">
        A directory of listings from students in search of roommates for the Spring 2021 semester. Use the Filter and
        Sort commands to find listings that match your preferences, and reach out to students with whom you are
        interested in rooming at the contact info provided.
      </p>
      <div class="align-bottom">
        <a class="button is-info is-outlined" target="_blank" href="https://airtable.com/shrN0Jq3PdU7l0Ndy/tblg6WsFEaeWo7ZHg">View Listings</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box equal-height-column">
      <h4 class="title is-4 margin-bottom-1">Add a New Listing</h4>
      <p class="margin-bottom-2">
        Complete this form if you are in search of roommates for the Spring 2021 semester and would like other students
        to reach out to you. After completing this form, be sure to check other students’ listings in the directory
        provided. By filling out this form, you are allowing others to contact you via email, or at any other contact
        info you choose to provide.
      </p>
      <div class="align-bottom">
        <a class="button is-info is-outlined" target="_blank" href="https://airtable.com/shrpdYuysXHMBhOUE">Add
          Listing</a>
      </div>
    </div>
  </div>
</div>
