<p id="notice"><%= notice %></p>

<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
       5C Events
      </h1>
    </div>
  </div>
</section>


<div class="container calendarContainer">
  <%= render 'components/event_calendar', events: _to_event_calendar_mapping(@events) %>
</div>

<%= link_to 'New Event', new_event_path, :class => 'button is-primary' %>

