<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
        Create New Event
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <%= render 'form', event: @event %>
</div>