<% content_for :header do %>
  <%= render 'components/page_header', :title => "Software Development Group" %>
<% end %>

<div class="content software-content">
  <h2>Who We Are</h2>
  <p>We are a team of students hoping to improve the daily lives of other students.
    The Software Development Group is part of ASPC’s staff and works closely Senate, fellow staff members, and
    affiliated 5C clubs and organizations. Our goal is to provide useful services, tools, and resources to the students
    of Pomona College and the 5C community. In addition to creating the site you are now visiting, we maintain the
    central ASPC server, coordinate the online voting system with ASPC, and provide web hosting for official ASPC
    clubs.</p>

  <h2>How You Can Contribute</h2>
  <p>
    We aim build things that benefit the lives of the 5,000+ students who attend the Claremont Colleges. As students
    ourselves, we understand the importance of community input and realize that there is always more room for
    improvement. If you have any ideas for the website, please feel free to reach out to us!</p>
  <p>
    In addition, if you want to contribute to the website or start hacking on your own, check out our
    <a href="https://github.com/aspc/aspc-website">GitHub</a>.
  </p>

  <h2>Our Team</h2>
  <ul>
    <li>Sophie Richards '20, Product Manager</li>
    <li>Brad Bain '20, Lead Developer</li>
    <li>McKenna Barlow '20, Developer</li>
    <li>Pavle Rojalj ‘21, Developer</li>
    <li>Adam Guo ‘22, Developer</li>
  </ul>

  <h2>Contact Us</h2>
  <p>For administrative inquiries or product suggestions:
    <a href="mailto:product@aspc.pomona.edu">product@aspc.pomona.edu</a></p>

</div>
