<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
        Bylaws
      </h1>
    </div>
  </div>
</section>

<br/>

<div class="container">
  <div class="content bylaws-content">
    <h1>
      Article I. Code of Ethics
    </h1>
    <ol>
      <li>
        Senators are to always act in the best interest of the student body. They shall make every reasonable attempt to fulfill their duties in good faith and with full regard for the welfare of others.
      </li>
      <li>
        Senators are to be forthright, honest, and fully transparent in their communications with their constituents. They shall never knowingly misrepresent the truth in their capacity as a representative of the ASPC.
      </li>
      <li>
        Senators shall not make undue use or influence of powers of office in exchange for anything of material or intrinsic value. During Senate votes, a Senator who has a conflict of interest with the issue in question shall abstain from the vote. A conflict of interest exists when a Senator has a competing professional or personal interest.
      </li>
      <li>
        During all recommendation and appointment processes, including for committee members, Senate employees, and vacated positions, the Senate shall recommend or appoint candidates based on their potential for performance in the position in question.
      </li>
      <li>
        Senators shall be accountable to their peers and to the student body if they transgress that which is reasonable, upright, and productive in the execution of our duties.
      </li>
    </ol>
    <h1>
      Article II. Committees
    </h1>
    <p>
      The Senate, after receiving the recommendations of relevant Senate members, shall appoint at-large members to student, faculty, and trustee committees. The Senate shall appoint all at-large student members to faculty and trustee committees in the spring. For spring appointments, the relevant incoming Senate member shall, after consulting with the outgoing Senate member, shall make recommendations to the Senate. Whenever possible, the incoming Senate member will be included in committee meetings (as a non-voting member) for the duration of the semester. Student at-large positions may not be filled by Senate members.
    </p>
    <h2>
      Section 1. Student Committees
    </h2>
    <p>
      Senate approval is required for all student committee bylaw changes and appointments. The Senate may overrule any student committee decision. Student committee chairs shall report to the Senate at least once a semester. Unless otherwise indicated, the Senate shall recruit and appoint at-large members to the student committees in both the spring and the fall, and additional members may be appointed as needed throughout the year. Members shall be approved by the Senate upon recommendations by the relevant Senate member.
    </p>
      <h3>
        1. Budget Committee
      </h3>
      <p>
        The committee shall distribute allocations from the "unallocated" account. Allocations shall be reported to the Senate on a regular basis. Requests for controversial groups or events and allocations of more than $1,000.00 shall be brought before the Senate with a specific recommendation, or set of recommendations. At the end of the semester, outstanding allocations shall return to the “unallocated” account. Reimbursement for claims will be paid within a month of filing. During the second semester of every year, the committee shall recommend to the Senate a general budget of the income and expenditures for the ASPC for the following year. The Senate shall ratify a general budget prior to the end of the academic year. This committee shall also oversee also the investment of the ASPC Reserves. At the beginning of the academic year, the committee shall communicate with the investment firm to review current investments and investing guidelines and shall issue a resulting recommendation to the Senate. This committee shall be chaired by the Executive Vice President for Finance and shall consist of the President, the Vice President of Campus Events, the North and South Campus Representatives, and the Commissioner of Clubs and Organizations. The Senate advisor(s) shall be non-voting member(s) of the Budget Committee. When elections precede budget hearings, the President-elect and the Executive Vice President-elect shall serve as voting members of the committee, with one-half vote each.
      </p>
      <h3>
        2. Campus Sports Committee
      </h3>
      <p>
        The committee shall plan sports-related events for the college, including on-campus activities and trips to off-campus athletic events. The committee shall work through the year to promote both varsity and intramural sports on campus. This committee shall be chaired by the Commissioner of Sports and will consist of at least five students, at least one of which shall be a representative from the Student-Athlete Advisory Committee.
      </p>
      <h3>
        3. External Affairs Committee
      </h3>
    <p>
      The committee shall seek to strengthen relations between the college and the surrounding community, including but not limited to the town. The committee shall seek to strengthen relationships between the ASPC and the other Claremont Colleges’ student governments. The committee shall advocate on behalf of the ASPC on matters regarding the greater Claremont community, including the Claremont University Consortium’s policies and resources. The External Affairs Committee shall be chaired by the Commissioner of External Affairs. In addition to the chair, the committee shall consist of at least five student members at-large, including at least one Draper Center Student Coordinator.
    </p>
    <h3>
      4. Pomona Events Committee (PEC)
    </h3>
    <p>
      The committee shall plan social and educational programs and provide assistance and funding to students and student organizations who want to plan events. At the end of every quarter, the Vice President of Campus Events shall report to the Senate on PEC’s expenditures and activities. PEC is accountable to the Executive Vice President and to the Senate for the reasonable and responsible allocation of its funds. This committee shall be chaired by the Vice President of Campus Events and shall consist of no fewer than eight at-large students to be appointed by the Vice President of Campus Events.
    </p>
    <h3>
      5. Committee on Campus Climate and Diversity
    </h3>
    <p>
      The committee shall be responsible for addressing the concerns of underrepresented and marginalized communities, student activism, support organizations, and mentor programs on campus, as well as larger issues of campus climate as they arise. This committee shall be chaired by the Commissioner of Community Relations and shall consist of at least seven students, no fewer than four of whom shall be current members of identity-based student support organizations.
    </p>
    <h3>
      6. Coop Committee
    </h3>
    <p>The primary responsibility of the committee is to set policy for the Coop Fountain and Coop Store. The committee shall also facilitate communication between and among the businesses and the Senate. This committee shall be chaired by the Executive Vice President and shall consist of two Senators, one of whom is often the Commissioner of Environmental Affairs due to the Committee’s relevant subject material; one student at-large, and the heads or general managers of the Fountain and Store. The Campus Center Director shall be a non-voting member of the Coop Committee. The committee shall meet monthly throughout the school year, with additional meetings arranged and convened by the chair as necessary.
    </p>
    <h3>7. Elections Committee
    </h3>
    <p>The Elections Commissioner, with the committee, shall coordinate and supervise voting for all elected representatives of the ASPC, in accordance to the rules and procedures as specified in the Constitution, Bylaws, and Election Code. This committee shall be chaired by a Senate-appointed Elections Commissioner and shall include the President and the Campus Center Director. The Committee may also include other Senate members who are not running in the current election cycle, and it is recommended that it include the Executive Vice President, the Vice President of Campus Events, and the Vice President of Academic Affairs. No member of the Elections Committee shall be eligible to run for any Senate position in the current election cycle.
    </p>
    <h3>8. Environmental Quality Committee (EQC)
    </h3>
    <p>The committee shall manage environmental projects that the committee or the Senate deem important, and shall inform the Senate how their projects, funding, and legislation might affect the environment. The Committee shall facilitate collaboration across The Claremont Colleges on environmental matters, including by inviting environmental representatives from the other Claremont Colleges to serve as members of the committee. This committee shall be chaired by the Commissioner of Environmental Affairs. It shall consist otherwise of interested students at-large with at least four Senate-appointed members.
    </p>
    <h3>9. Executive Council
    </h3>
    <p>The council is empowered to act for the ASPC Senate between the dates of Commencement and the election of the ASPC Senators in the fall of the following academic year. This committee shall be chaired by the President and shall consist of the President, the Executive Vice President, the Vice President of Campus Events, the Vice President of Academic Affairs, and the Commissioners.
    </p>
    <h3>10. Five College Student Activities Committee
    </h3>
    <p>The committee plans five-college social and educational programs. Committee members share information about upcoming events at their respective colleges in order to prevent scheduling conflicts. Social event representatives from each of the colleges sit on this committee. The Pomona representative shall be the Vice President of Campus Events.
    </p>
    <h3>11. First Year Class Committee
    </h3>
    <p>The committee shall plan social and educational events for the first year class. This committee shall be chaired by the First Year Class President and shall consist of at-large members of the first year class.
    </p>
    <h3>12. Sophomore Class Committee
    </h3>
    <p>The committee shall plan social and educational events for the sophomore class. This committee shall be chaired by the Sophomore Class President and shall consist of at-large members of the sophomore class.
    </p>
    <h3>13. Junior Class Committee
    </h3>
    <p>The committee shall plan social and educational events for the junior class. This committee shall be chaired by the Junior Class President and shall consist of at-large members of the junior class. A class banner sub-committee shall be chaired by the Junior Class President or a designee thereof. The committee shall design and construct the Class Banner, to be completed by the end of the spring semester.
    </p>
    <h3>14. Senior Class Committee
    </h3>
    <p>The committee shall plan social events for the senior class and coordinate participation in the senior class gift. This committee shall be chaired by the Senior Class President and shall consist of at-large members of the senior class.
    </p>
    <h3>15. Residence Halls Committee
    </h3>
    <p>The committee shall address concerns from the students in regard to the residence halls. The committee shall advise on housing policy and is the representative voice of the student body on all housing policy decisions. As needed, the committee shall work towards providing support for service staff in the residence hall. This committee shall be co-chaired by the North and South Campus Representatives and shall consist of the Commissioner of Environmental Affairs and at least four students at-large, including members of the Residence Hall Staff. Prior to the fall elections of the North and South Campus Representatives, the incoming Commissioner of Environmental Affairs will serve as the transition chair of the Residence Halls Committee, and shall select up to four students to sit on the committee for the upcoming year. The committee shall be advised by at least one non-voting professional staff member from the Office of Housing and Residence Life.
    </p>
    <h3>16. Student-Faculty Interaction Committee (SFIC)
    </h3>
    <p>The committee shall plan, promote and fund activities that encourage interaction and dialogue between students and faculty. The committee shall be chaired by the Sophomore Class President, who shall invite at least one faculty member to serve as general advisor(s). The Junior Class President shall be a member of the Student-Faculty Interaction Committee. Prior to the fall election of the Sophomore Class President, the incoming Junior Class President shall serve as the transition chair of the committee.
    </p>
    <h3>17. Food Committee
    </h3>
    <p>The primary responsibility of the committee shall be to address concerns from the students in regard to dining services. As needed, the committee shall work towards providing support for service staff in the residence hall. This committee shall be co-chaired by the North and South Campus Representatives and shall consist of the Commissioner of Environmental Affairs and at least eight students. As much as possible, there shall be equal numbers of students from North and South Campuses. Prior to the fall elections of the North and South Campus Representatives, the incoming Commissioner of Environmental Affairs will serve as the transition chair of the Food Committee, and shall select up to four students to sit on the committee for the upcoming year. The committee shall meet monthly throughout the school year to discuss concerns, as well as meet regularly with the Dean of Students and the General Manager of Dining Services to communicate those concerns.
    </p>
    <h3>18. Student Clubs and Organizations Committee
    </h3>
    <p>The committee shall support clubs and organizations to ensure that they are fulfilling the mission of their charters. This committee shall be chaired by the Commissioner of Clubs and Organizations and shall consist of at least three students at-large.
    </p>
    <h3>19. Academic Affairs Committee
    </h3>
    <p>This committee shall meet regularly to pursue policy reforms, educate students about current events in academic affairs, and advise the student representatives to the faculty committees. This committee shall be chaired by the Vice President of Academic Affairs and shall consist of the student representatives to the Curriculum Committee, Faculty Advisory Position Committee, Academic Procedures Committee, Analyzing Differences Committee, and Critical Thinking and Writing Committee, and at least two students at-large.
    </p>
    <h2>
      Section 2. Faculty Committees
    </h2>
    <p>
      Upon recommendation of the relevant Senate member, the Senate shall appoint all at-large student members of faculty committees in the spring. The Senate shall inform the chair of each committee of the student appointments as soon as the appointment is confirmed by the Senate.
    </p>
    <h3>1. Academic Discipline Board
    </h3>
    <p>The Academic Discipline Board consists of eight faculty members and seven students chosen from among the following: two members of the Student Delegation to the Student Affairs Committee, the Vice President of Academic Affairs, and four student members of the Judiciary Council. Of these fifteen faculty and students, four faculty members and three student members of the Board are chosen randomly to constitute a panel for each hearing. This selection is made by the board chair, who is the chair of the Academic Standards Committee. The Dean of Students or an Associate Dean of Students serves throughout the process in an advisory, non-voting role.
    </p>
    <h3>2. Academic Procedures Committee (APC)
    </h3>
    <p>This committee consists of the Vice President of Academic Affairs, one at-large student member to be appointed by the Senate upon the recommendation of the Vice President of Academic Affairs, three faculty members, the Dean of Students, and the Registrar. It has a subcommittee, consisting of the Vice President of Academic Affairs, the Registrar, the Dean of Students, and the faculty chair of the committee. Every week, the subcommittee votes online on petitions for exceptions to academic regulations. In the event of a tie amongst the four members of the subcommittee, the full committee votes on the petition. Because the student members of the committee are eligible to serve on the Academic Discipline Board, they must attend the Judicial Council’s fall training.
    </p>
    <h3>3. Admissions and Financial Aid Committee
    </h3>
    <p>This committee consists of faculty, the Dean of Admissions, the Dean of Students, the Director of Financial Aid and two students to be appointed by the Senate upon the recommendation of the Executive Vice President.
    </p>
    <h3>4. Curriculum Committee
    </h3>
    <p>The committee is responsible for approving courses for the general education requirements, approving new courses and other curricular changes, and making recommendations on curricular issues to the faculty. This committee consists of the Dean of the College, an Associate Dean of the College, the Registrar, faculty members, the Vice President of Academic Affairs, and two at-large student members to be appointed by the Senate upon the recommendation of the Vice President of Academic Affairs. The committee has a subcommittee: the Special Majors Committee, which supervises all self-designed majors for individual students, and consists of the Vice President of Academic Affairs, the Registrar, the Chair of the Committee, and an Associate Dean of the College.
    </p>
    <h3>5. Student Affairs Committee of the Faculty
    </h3>
    <p>The committee is charged with legislative and judicial functions in student affairs. The committee consists of a faculty chair, the Dean of Students, three or four additional faculty members, and the Student Delegation to the Student Affairs Committee (SDSAC).
    </p>
    <h4>Student Delegation to the Student Affairs Committee (SDSAC)
    </h4>
    <p>The SDSAC is chaired by the President and shall represent the ASPC on matters of student affairs. It shall include the Executive Vice President, the North and South Campus Representatives, and the Commissioner of Community Relations or a student delegate appointed by the Senate upon the recommendation of the Commissioner. When the composition of the Student Affairs Committee allows, the SDSAC may also include one student at-large appointed by the Senate upon the recommendation of the President. Neither the student delegate nor the student at-large will be a first-year; preference will be given to students with experience with and knowledge of the Student Code.
    </p>
    <p>The SDSAC will regularly meet with the Judicial Board chairs to review suggested changes to the Student Code and to encourage judicial transparency. Members of SDSAC shall attend the Judicial Board Selection Committees for chairs and members. All members of SDSAC shall attend annual Judicial Board trainings.
    </p>
    <h3>6. Study Abroad Committee
    </h3>
    <p>The committee determines policies regarding education abroad and acts on student applications for a semester or year abroad. This committee consists of the Director of Study Abroad, the Registrar, faculty members, and two students to be appointed by the Senate upon the recommendation of the Vice President of Academic Affairs. The two student members must have studied abroad.
    </p>
    <h3>7. Faculty Position Advisory Committee
    </h3>
    <p>The committee will advise the Dean and the President on tenure-track position planning decisions. The students on the committee will in the fall semester conduct a survey of the student body to produce the annual Report on Student Perceptions of Enrollment and Curricular Pressures. This committee consists of six professors (two from each division), the Vice President of Academic Affairs and two students appointed by the Senate upon the recommendation of the Vice President of Academic Affairs. Each student on the committee must represent a different division of the college, as determined by declared academic major, and students must be able to serve on the committee for the entire academic year. The Dean of the College will serve as an ex-officio member of the Committee.
    </p>
    <h3>8. President’s Advisory Committee on Diversity
    </h3>
    <p>This committee advises the College President on all aspects of institutional diversity pertaining to faculty, students, and staff, including providing the community with reports on the status of diversity and advising the President on strategies to enhance diversity at the College. It is composed of three faculty members, the Associate Dean of the College who serves as Diversity Officer, two staff members appointed by the Staff Council, an Associate Dean from Student Affairs, an Associate Dean or Director from Admissions, the Director of the Draper Center, the Director of Institutional Research, a Director or Associate Director of Alumni Relations, the Assistant Vice President and Senior Director of Human Resources, the Commissioner of Community Relations, and two-large students appointed by the Senate upon the recommendation of the Commissioner of Community Relations.
    </p>
    <h3>9. Analyzing Difference Committee
    </h3>
    <p>The Analyzing Difference Committee certifies courses that fulfill the General Education Analyzing Difference requirement. The committee maintains learning outcomes related to the requirement, provides sample syllabi of approved courses, and creates evaluative criteria and standards related to the approval of courses. The committee includes at least three faculty members, the Vice President of Academic Affairs or a designee thereof, and the Commissioner of Community Relations or a designee thereof. If designees are appointed, they will be appointed by Senate in the spring.
    </p>
    <h3>10. Critical Thinking and Writing Committee
    </h3>
    <p>The responsibility of this committee is to oversee curricular initiatives focused on writing, including writing across the disciplines, the Critical Inquiry (ID1) Program, the GE Writing Requirement, and the Writing Center, and to advise the faculty on new proposals involving writing. The committee oversees the policies of the Critical Inquiry Program, sets standards and assesses outcomes, plans the annual workshop, and works with the Dean of the College’s office to recruit ID1 instructors. Committee members include the Director of College Writing, an Associate Dean, one faculty member from each division, the Vice President of Academic Affairs or a designee thereof, and one student at-large appointed by Senate upon the recommendation of the Vice President of Academic Affairs.
    </p>
    <h3>11. President’s Advisory Committee on Sustainability
    </h3>
    <p>The President’s Advisory Committee on Sustainability is responsible for monitoring the campus operations that directly affect the College's use of resources, developing strategies for increasing campus sustainability, developing outreach and communication programs for spreading information about campus sustainability, administering the President's Sustainability Fund, and reporting on progress on campus sustainability. The committee consists of three faculty members, administrators from student affairs, facilities, dining, sustainability, campus services, and communications, one staff member, and the Commissioner of Environmental Affairs. The committee also includes three students appointed by the Senate upon the recommendation of the Commissioner of Environmental Affairs: the leader of an environmental student organization and two additional students at-large.
    </p>
    <h3>12. Orientation and Book Selection Committee
    </h3>
    <p>The Orientation and Book Selection Committee plans and implements new student orientation events and selects the first-year book under the direction of the Dean of Students, Coordinator of the Critical Inquiry Seminar Program, and faculty members. Three students, including the First Year Class President, serve on this committee.
    </p>
    <h2>Section 3. Alumni Committees
    </h2>
    <p>
      The Senate shall be responsible for selecting the at-large student members of alumni committees throughout the academic year. The Senate shall inform the Alumni Association of the student appointments as soon as the Senate confirms the appointment.
    </p>
    <h3>1. The Alumni Board
    </h3>
    <p>This board serves as the governing body of the Alumni Association. The student representative to the Board shall be the President or a designee thereof.
    </p>
    <h3>2. Inspirational Young Alumnus/a Selection Committee
    </h3>
    <p>This committee consists of the Senior Class President, Junior Class President, Sophomore Class President, First Year Class President and four at-large students to be appointed by the Senate.
    </p>
    <h3>Section 4. Trustee Committees
    </h3>
    <p>The student members of trustee committees are determined by the spring ASPC election of the relevant Senators and the at-large representatives.
    </p>
    <h3>1. The Student Delegation to the Board of Trustees (SDBOT)
    </h3>
    <p>The SDBOT shall be responsible for representing the ASPC to the Board of Trustees. The SDBOT is chaired by the President and shall consist of all the student representatives to the Board of Trustees, including relevant Senators and the at-large representatives. The SDBOT shall, beginning in the preceding spring, lead the ASPC in working with the Dean of Students and the Student Affairs Committee of the Board of Trustees to plan the annual fall Trustee-Student Retreat. The SDBOT shall lead the ASPC’s annual presentation to the Student Affairs Committee of the Board of Trustees during the first meeting of the spring semester. The SDBOT shall meet before and after every Board of Trustees meeting to strategize, recap, and report non-confidential information to the ASPC.
    </p>
    <h3>2. Educational Quality Committee of the Board of Trustees
    </h3>
    <p>There shall be two student members on this committee: (1) the Vice President of Academic Affairs or a designee thereof; and (2) the student-at-large elected annually in the spring.
    </p>
    <h3>3. Facilities and Environment Committee of the Board of Trustees
    </h3>
    <p>The student member on this committee shall be the Commissioner of Environmental Affairs or a designee thereof.
    </p>
    <h3>4. Finance Committee of the Board of Trustees
    </h3>
    <p>There shall be two student members on this committee: (1) the Executive Vice President or a designee thereof; and (2) the student-at-large elected annually in the spring.
    </p>
    <h3>5. Student Affairs Committee of the Board of Trustees
    </h3>
    <p>There shall be two student members on this committee: (1) the President; and (2) the student-at-large elected annually in the spring. The President shall serve as a vice-chair of the Committee.
    </p>
    <h3>6. Advancement Committee of the Board of Trustees
    </h3>
    <p>The student member on this committee shall be the Senior Class President.
    </p>
    <h3>7. Honorary Degrees Committee of the Board of Trustees
    </h3>
    <p>There shall be two non-voting student members on this committee: (1) the Senior Class President; and (2) the Junior Class President.
    </p>
    <h1>Article III. Employees
    </h1>
    <p>
      Except for the Director of Disability and Mental Health Advocacy, employees are appointed by the Senate upon the recommendation of the President. To ensure the accurate assessment of technical competency when recommending members of the Software Development Group, the President shall rely on the recommendations of existing Software Development Group members, including by allowing SDG members to spearhead their own recruiting processes. Employees are selected as needed and as soon as possible, including during both spring and fall recruiting. Senate employees serve until graduation, resignation, or a Senate vote to remove the employee. Senate employees shall, whenever possible, serve for the entire academic year. Employees shall receive hourly wages determined by the Senate. In appointing and recommending employees, the President and Senate shall encourage early involvement and longevity in positions, including by giving preference to candidates in reverse seniority, such that first-year students have the highest preference and seniors have the lowest preference.
    </p>
    <h3>
      1. Chief of Staff
    </h3>
    <p>The Chief of Staff shall oversee all the ASPC support staff: the Senate Aide(s), Senate Secretary, Director of Public Relations, and Software Development Group members. The Chief of Staff shall chair weekly support staff meetings and lead the support staff in assisting the Senate with projects and tasks, including with fall recruiting. The Chief of Staff is accountable to the President and shall be appointed by the Senate upon the recommendation of the President.
    </p>
    <h3>2. Senate Aide(s)
    </h3>
    <p>The Senate Aide(s) shall assist the Chief of Staff in executing the Senate’s projects and tasks.
    </p>
    <h3>3. Senate Secretary
    </h3>
    <p>The Secretary shall take minutes at Senate and make all non-financial ASPC records (Senate minutes, current lists of all officers and committee members, copies of the ASPC Constitution and Bylaws, etc.) available to any member of the ASPC upon request. The Secretary shall assist the Chief of Staff in executing the Senate’s projects and tasks.
    </p>
    <h3>4. Director of Public Relations
    </h3>
    <p>The Director shall facilitate the Senate’s communication with the student body by regularly updating the Senate’s online social media and website. The Director shall produce a regular report with information including but not limited to updates from each Senate member, updates from Senate-appointed committee representatives and employees, the minutes of the Senate’s previous meetings, and upcoming Senate events. The Director shall assist the Chief of Staff in executing the Senate’s projects and tasks.
    </p>
    <h3>5. Software Development Group (SDG)
    </h3>
    <p>The Software Development Group shall maintain the ASPC website and its embedded products, including the ASPC Course Reviews, the 5C Menu, and the ASPC elections system, and shall develop new products upon the request of the Senate. The SDG will work with ITS to upgrade and maintain the ASPC servers and to provide programming and web development assistance to Senators as needed.
    </p>
    <h4>Product Manager (PM)
    </h4>
    <p>The PM shall work closely with relevant Senators and ASPC-external stakeholders to craft inclusive and thorough product requirements for proposed and existing ASPC products. The PM shall only explore new products or modify existing products with the express approval of Senate, and will report on progress and plans to the Senate at least every semester. The PM shall work closely with the Software Engineers to meet product requirements and enforce quality. In the SDG, the PM is horizontal to the Lead SWE in authority, and is accountable to the Chief of Staff.
    </p>
    <h4>Lead Software Engineer (Lead SWE)
    </h4>
    <p>The Lead SWE shall recruit, recommend to the Senate, and oversee the Software Engineers in service of the Software Development Group’s mission. In the SDG, the Lead SWE is horizontal to the PM in authority, and is accountable to the Chief of Staff.
    </p>
    <h4>Software Engineer (SWE)
    </h4>
    <p>The Software Engineers will program in service of the Software Development Group’s mission and are accountable to the Lead SWE. 6. Director of Disability and Mental Health Advocacy (DMHA) The Director shall represent the interests of students with disabilities or mental health issues by advocating for policy and procedural changes in these areas and creating relevant resources for students. The Director shall be the ASPC liaison to the Student Disability Resource Center, Monsour Counseling and Psychological Services (MCAPS), and Student Health Services. The Director serves on the 5C Mental Health Working Group and administers the Disability Fund for student organizations. The Senate shall appoint the Director of DMHA upon the recommendation of the Commissioner of Community Relations. The Director shall be accountable to the Commissioner of Community Relations.
    </p>
    <h1>Article IV. Elections
    </h1>
    <p>
      The ASPC elections shall proceed in accordance with the ASPC Elections Code. One person shall be elected to each Senate seat. Deadlines for nomination and dates of elections shall be set by the Senate no less than two weeks before the elections. The term of the President, the Executive Vice President, the Vice President of Campus Events, the Vice President of Academic Affairs, the Senior Class President, the Junior Class President, and the commissioners shall encompass the entire academic year. The North and South Campus Representatives, the First Year Class President, and the Sophomore Class President shall be elected within the first three full weeks of the fall semester and their terms will run until Commencement.
    </p>
    <h2>Article V. Advisor
    </h2>
    <p>The Campus Center Director is an employee of the College who serves as the primary Advisor to the Senate. As Advisor, they shall receive and distribute ASPC funds and all funds of the sundry organizations deposited with the ASPC, subject to control of the Senate. The Campus Center Director, with the Executive Vice President, shall present the Senate with a financial report upon request. Also at the Senate's request, the Campus Center Director shall submit any or all of the books for auditing. As needed, the ASPC may also ask additional members of the administration, such as the Dean of Students or the Dean of Campus Life, to serve as Advisors.
    </p>
    <h2>Article VI. Student Fees
    </h2>
    <p>The Student Fees of the ASPC shall, by agreement with the Board of Trustees of the College, be assessed each semester, and be compulsory.
    </p>
    <h2>Article VII. Enterprises
    </h2>
    <p>The ASPC shall own and operate a store and an eatery. These student-run enterprises exist to fulfill the needs and expectations of the College community, particularly the student community. The primary function of the Store is to provide the college supplies, snacks, Pomona College paraphernalia, and various services. The primary function of the Fountain is to provide hot food and snacks in a pleasing environment. The addition of other ASPC enterprises must have the approval of the Senate.
    </p>
    <h2>Article VIII. Amendments to the Bylaws
    </h2>
    <p>These Bylaws may be amended by a vote of three-fourths of the members of the Senate or by a majority vote of the ASPC.
    </p>
    <h2>Article IX. Resolutions
    </h2>
    <p>The Senate shall pass resolutions urging action on issues over which the Senate does not have direct control.
    </p>
    <h3>1. Senate Sponsors
    </h3>
    <p>Every resolution must have two or more Senate sponsors. The sponsors are responsible for ensuring that the resolution meets minimum quality standards, including in format, language, and evidence-based content. The sponsors do not necessarily endorse the resolution, but have an interest in seeing the resolution discussed.
    </p>
    <h3>2. Open Comment Period
    </h3>
    <p>Resolutions shall be publicized to the entire Pomona College student body for an open comment period at least one week in advance of the Senate’s vote on that Resolution. The default method of distribution is to send the Resolution via Student Information listserv, but a unanimous vote of the Senate may choose to send the resolution via another method. Regardless of the method chosen, a short summary of the Resolution shall be included. The Resolution publicized shall be the latest working draft, but does not need to be the Resolution’s final version. The open comment period shall include an easily accessible method for students to provide feedback, such as a link in an email to a Google Form. The Senate shall deliberate over, and may amend the resolution based on, comments received in the open comment period.
    </p>
    <h3>3. Forum
    </h3>
    <p>Public forums to discuss the resolution shall be called by a majority vote of Senate or by a petition signed by at least five percent of the ASPC. If a forum is triggered, the vote on the resolution shall be postponed to after the forum. A public forum shall include an open discussion, moderated by the Senate sponsors of the resolution in question. The Senate sponsors shall have the responsibility of ensuring the discussion is respectful and productive. The Senate Secretary shall take minutes for the forum. Senate shall have the responsibility of choosing a time and location of the public forum compatible with student schedules.
    </p>
    <h3>4. Voting
    </h3>
    <p>The resolution shall be passed by a majority vote of the Senate. The resolution may also be postponed by a majority vote of the Senate. It will be the responsibility of Senate to address resolutions in a timely manner.
    </p>
    <h3>5. Resolution Guide
    </h3>
    <p>The Senate Aide shall maintain a guide on resolutions including, but not limited to: 1. the definition and function of a resolution; 2. how to write a resolution; 3. how to approach the ASPC Senate with a resolution; and 4. the ASPC’s protocol for responding to resolutions, as outlined in Section IX of the ASPC’s bylaws.
    </p>
    <h2>Article X. Fellowship Installments and Living Strategic Plan
    </h2>
    <h3>1. Installments
    </h3>
    <p>The President and the Vice Presidents shall determine the satisfactory completion of the requirements for the release of all fellowship installments. Fellowships are distributed in two installments, once per semester, to the representatives to the faculty committees. Fellowships are distributed in four installments to Senate members and to the At-Large Representatives to the Board of Trustees, according to the following release schedule:
    </p>
    <p>The first installment shall be distributed during the fourth week of the fall semester, contingent on the submission of an initial draft update to the Living Strategic Plan (LSP) and a summary to be published in the quarterly report to the student body. The second installment shall be distributed at the end of the fall semester, contingent on the submission of updates to the LSP and a summary to be published in the quarterly report to the student body. The third installment shall be distributed during the eighth week of the spring semester, contingent on the submission of updates to the LSP and a summary to be published in the quarterly report to the student body. The fourth installment shall be distributed at the end of the spring semester, contingent on a completed LSP and a summary to be published in the quarterly report to the student body.
    </p>
    <h3>2. Living Strategic Plan (LSP)
    </h3>
    <h4>1. Purpose.
    </h4>
    <p>The LSP shall serve to promote institutional memory, long-term strategic planning, and continuity in Senate positions by serving as a central repository for information about, the history of, and potential future initiatives of the relevant position.
    </p>
    <h4>2. Implementation.
    </h4>
    <p>There shall be one LSP for each Senate position and for each at-large representative to the Board of Trustees. The LSP shall be updated by every individual Senate member or at-large representative to the Board of Trustees who serves in that position. The LSP shall be a private Google Document attached to the ASPC email address of the relevant position.
    </p>
    <h4>3. Content.
    </h4>
    <p>The LSP shall consist of the following sections: positional history, key contacts, responsibilities, completed projects, current projects, future projects, projects given up on, positional introspection, power, and other relevant information. For each project, the goals, motivations, processes, outcome, and areas for future progress shall be recorded.</p>
  </div>
</div>











