<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
        Policies
      </h1>
    </div>
  </div>
</section>

<br/>

<div class="container">
  <div class="content policies-content">
    <%= link_to 'Constitution', aspc_policies_constitution_path, :class => 'button is-primary is-large is-fullwidth'%>
    <br/>
    <%= link_to 'Bylaws', aspc_policies_bylaws_path, :class => 'button is-primary is-large is-fullwidth'%>
    <br/>
    <%= link_to 'Constitution', aspc_policies_constitution_path, :class => 'button is-primary is-large is-fullwidth'%>
  </div>
</div>