<% content_for :header do %>
  <%= render 'components/page_header', :title => "Pomona Events Committee" %>
<% end %>

<p>
  Pomona Events Committee (PEC) is a subcommittee of ASPC that uses the student fees that you pay to help sponsor
  events for students. Our mission is to implement social, cultural, and recreational events to meet the broad social
  needs of the students of Pomona College. These events range anywhere from films on the weekends, to parties in Doms,
  to Symposium, to various off campus events. PEC priorities include welcoming, embracing, and reflecting the
  inclusivity and diversity of Pomona College and its student body! If you want to become more involved with PEC
  applications season is always at the end of spring semester and at some times the beginning of fall semester for the
  incoming class of first years!
</p>
<br>
Check out our Facebook here:
<a href="https://www.facebook.com/PomonaEvents" target="_blank">https://www.facebook.com/PomonaEvents</a>
