<% content_for :header do %>
  <%= render 'components/page_header', :title => "Policies" %>
<% end %>

<div>
  <h1>
  <%= link_to "Constitution", :aspc_policies_constitution, :class => "navbar-item" %>
  </h1>
</div>
<div>
  <%= link_to "Bylaws", :aspc_policies_bylaws, :class => "navbar-item" %>
</div>
<div>
  <%= link_to "Elections Code", :aspc_policies_electionscode, :class => "navbar-item" %>
</div>
