<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
        Positions
      </h1>
    </div>
  </div>
</section>

<br/>

<div class="container">
  <div class="content positions-content">

<h1>President</h1>
<hr>
<p>The President shall lead the ASPC in serving students and achieving its mission. The President shall chair the Senate, the Student Delegation to the Student Affairs Committee (SDSAC), and the Student Delegation to the Board of Trustees (SDBOT). The President shall serve as a member of the ASPC Budget Committee. The President shall also serve on the Alumni Board and as the co-vice chair of the Student Affairs Committee of the Board of Trustees. The President shall be an ex-officio member of all student committees unless otherwise stated in the Constitution or Bylaws. The President shall meet regularly with the Dean of Students and with the student body presidents of the other Claremont Colleges.
</p>
<h1>Executive Vice President
</h1>
    <hr>
    <p>The Executive Vice President shall act as a financial advisor to the Senate and shall oversee all student government operations including the Fountain, Store, the Pomona Events Committee (PEC), and, as needed, the financial aspects of KSPC and The Student Life. The Vice President shall chair the ASPC Budget Committee and shall coordinate annual budget hearings with the student governments of the other Claremont Colleges. The Vice President shall chair the Coop Committee and shall, at the beginning of each academic year, review the investing guidelines and status of the ASPC Reserves. The Vice President shall be a member of the Student Delegation to the Student Affairs Committee (SDSAC), shall meet regularly with the Dean of Students, and shall chair the Senate in the absence of the President. The Vice President shall also serve on the Finance Committee of the Board of Trustees. The Vice President shall recommend to the Senate and lead the student members of the Admissions and Financial Aid Committee.
</p>
<h1>Vice President of Campus Events
</h1>
    <hr>
<p>The Vice President of Campus Events shall be responsible for the social events of the ASPC and shall work to create an inclusive and safe social climate. The Vice President shall chair the Pomona Events Committee (PEC) and shall report on a quarterly basis to the ASPC on PEC’s expenditures and activities. The Vice President shall be a member of the ASPC Budget Committee. The Vice President shall be the ASPC representative to the Five College Student Activities Committee.
</p>
<h1>Vice President of Academic Affairs
</h1>
    <hr>
<p>The Vice President of Academic Affairs shall represent the ASPC in questions regarding the educational policy of the college. The Vice President shall chair the student Academic Affairs Committee. The Vice President shall be a member of the Academic Procedures Committee (APC), the Analyzing Difference Committee, the Curriculum Committee, the Critical Thinking and Writing Committee, and the Faculty Position Advisory Committee. The Vice President shall attend all faculty meetings. The Vice President shall also serve as a member of the Educational Quality Committee of the Board of Trustees. The Vice President shall recommend to the Senate and lead the student members of the APC, the Curriculum Committee, the Critical Thinking and Writing Committee, the Faculty Position Advisory Committee, and the Study Abroad Committee.
</p>
<h1>North Campus Representative
</h1>
    <hr>
<p>The North and South Campus Representatives shall represent their constituencies to the Senate in matters related to student affairs. As such, the North Campus Representative must reside on North Campus. The North and South Campus Representatives shall co-chair both the Residence Hall Committee and the Food Committee. Both the North and South Campus Representatives shall serve as members of Student Delegation to the Student Affairs Committee (SDSAC) and of the ASPC Budget Committee.
</p>
<h1>South Campus Representative
</h1>
    <hr>
<p>The North and South Campus Representatives shall represent their constituencies to the Senate in matters related to student affairs. As such, the South Campus Representative must reside on South Campus. The North and South Campus Representatives shall co-chair both the Residence Hall Committee and the Food Committee. Both the North and South Campus Representatives shall serve as members of Student Delegation to the Student Affairs Committee (SDSAC) and of the ASPC Budget Committee.
</p>
<h1>Commissioner of Clubs and Organizations
</h1>
    <hr>
<p>The Commissioner of Clubs and Organizations shall represent the ASPC in questions regarding clubs and organizations on campus. The Commissioner shall work with a staff member of the Campus Center as a liaison to clubs and organizations to ensure that they are fulfilling the mission of their charters and to provide resources and support. The Commissioner shall chair the Student Clubs and Organizations Committee. The Commissioner shall serve as a member of the ASPC Budget Committee, and shall assist the Executive Vice President in coordinating annual budget hearings with the student governments of the other Claremont Colleges. The Commissioner shall hold annual meetings for club leaders at the beginning of the fall semester and during the spring semester.
</p>
<h1>Commissioner of Community Relations
</h1>
    <hr>
<p>The Commissioner of Community Relations shall have the primary responsibility of voicing and addressing the concerns of underrepresented and marginalized communities, activist and support organizations, and mentor groups of the college community in efforts to improve campus climate. The Commissioner shall serve on the Student Delegation to the Student Affairs Committee (SDSAC) and the President’s Advisory Committee on Diversity. The Commissioner shall serve on or recommend to the Senate a student to serve on the Analyzing Difference Committee. The Commissioner shall chair the Committee on Campus Climate and Diversity and/or shall meet regularly with the leadership of relevant campus groups. The Commissioner shall further organize at discretion as relevant issues arise.
</p>
<h1>Commissioner of Environmental Affairs
</h1>
    <hr>
<p>The Commissioner of Environmental Affairs shall represent and advise the ASPC in matters regarding the preservation and improvement of the quality of the environment. The Commissioner shall chair the Environmental Quality Committee (EQC) and shall appoint students to other committees concerning sustainability and the quality of the environment. The Commissioner shall meet regularly with the College Sustainability Coordinator. The Commissioner shall meet regularly with environmental representatives of the five colleges. The Commissioner shall be a member of the Residence Halls Committee and of the Food Committee, and shall be the transition chair of these committees prior to the fall elections of the North and South Campus Representatives. The Commissioner may be invited by the Executive Vice President to serve on the Coop Committee. The Commissioner shall be an ex-officio member of the President’s Advisory Committee on Sustainability. The Commissioner shall be a member of the Facilities and Environment Committee of the Board of Trustees.
</p>
<h1>Commissioner of External Affairs
</h1>
    <hr>
<p>The Commissioner of External Affairs shall represent the ASPC in matters regarding the greater Claremont Colleges (including the Claremont University Consortium), maintain working relationships between the ASPC and the other Claremont Colleges’ student governments, and facilitate the relationship between Pomona College and the surrounding community. The Commissioner shall serve as the liaison between the ASPC and students living off campus and between the ASPC and the Draper Center for Community Partnerships. The Commissioner shall chair the External Affairs Committee and shall attend Claremont City Council meetings.
</p>
<h1>Commissioner of Sports
</h1>
    <hr>
<p>The Commissioner of Sports shall represent the ASPC in matters related to athletics, shall represent the views of student-athletes to the Senate, and shall strive to improve the experience of student-athletes. The Commissioner shall chair the Campus Sports Committee and shall help plan and oversee events involving athletics (e.g. homecoming). The Commissioner shall serve as a liaison to the Pomona-Pitzer athletic department. If the Commissioner is a current student-athlete, the Commissioner shall serve as a member of the Student-Athlete Advisory Committee; if not, the Commissioner shall attend all Student-Athlete Advisory Committee meetings.
</p>
<h1>Senior Class President
</h1>
    <hr>
<p>The Senior Class President shall host social events for the senior class and shall work closely with advancement and alumni to coordinate participation in the senior class gift. The Senior Class President shall chair the Senior Class Committee. The Senior Class President shall be a non-voting member of the Honorary Degrees Committee of the Board of Trustees. The Senior Class President shall serve on or recommend to the Senate a student to serve on the Advancement Committee of the Board of Trustees. The Senior Class President shall serve as a member of the Inspirational Young Alumnus/a Selection Committee and shall assist in the planning of Class Day and Commencement. The Senior Class President shall have the authority to create ad hoc Senior Class committees.
</p>
<h1>Junior Class President
</h1>
    <hr>
<p>The Junior Class President shall host social events for the junior class and lead student participation in the Wig Award. The Junior Class President shall chair the Junior Class Committee. The Junior Class President shall be a member of the Student-Faculty Interaction Committee, and the Inspirational Young Alumnus/a Selection Committee. Prior to the fall election of the Sophomore Class President, the incoming Junior Class President shall serve as transition chair of the Student-Faculty Interaction Committee. The Junior Class President shall be a non-voting member of the Honorary Degrees Committee of the Board of Trustees. The Junior Class President shall be a member of the Wig Award Committee, and shall recommend to the Senate and lead the other student member of the Wig Award Committee. The Junior Class President shall have the authority to create ad hoc Junior Class committees.
</p>
<h1>Sophomore Class President
</h1>
    <hr>
<p>The Sophomore Class President shall host social events for the sophomore class and for student-faculty interaction. The Sophomore Class President shall chair the Sophomore Class Committee and the the Student-Faculty Interaction Committee. The Sophomore Class President shall serve as a member of the Inspirational Young Alumnus/a Selection Committee. The Sophomore Class President shall have the authority to create ad hoc Sophomore Class committees.
</p>
<h1>First Year Class President
</h1>
    <hr>
<p>The First Year Class President shall host social events for the first year class and shall chair the First Year Class Committee. The First Year Class President shall serve as a member of the Inspirational Young Alumnus/a Selection Committee and the Orientation and Book Selection Committee. The First Year Class President shall have the authority to create ad hoc First Year Class committees.
</p>
<h1>At-Large Student on the Trustee Student Affairs Committee
</h1>
    <hr>
<p>This student sits on the Student Affairs Committee of the Board of Trustees. (This is different from the faculty Student Affairs Committee.) The duties of this position include attending Board of Trustees committee meetings and giving student perspectives, helping organize and decide on the topics for the fall student-trustee retreat, and helping organize dinners between students and trustees. (Note: this is not a Senate position, but it is an elected student position. Students interested in both being a Senator and serving on these committees should consider running for President or Commissioner of Environmental Affairs, as both sit on the BoT Student Affairs Committee.)
</p>
<h1>At-Large Student on the Trustee Academic Affairs Committee
</h1>
    <hr>
<p>This student sits on the Academic Affairs Committee of the Board of Trustees. The duties of this position include attending Board of Trustees committee meetings and giving student perspectives, helping organize and decide on the topics for the fall student-trustee retreat, and helping organize dinners between students and trustees. (Note: this is not a Senate position, but it is an elected student position. Students interested in both being a Senator and serving on these committees should consider running for Academic Affairs Commissioner, which also sits on the BoT Academic Affairs Committee and Student Affairs Committee.)
</p>
<h1>At-Large Student on the Trustee Finance Committee
</h1>
    <hr>
<p>This student sits on the Finance Committee of the Board of Trustees. The duties of this position include attending Board of Trustees committee meetings and giving student perspectives, helping organize and decide on the topics for the fall student-trustee retreat, and helping organize dinners between students and trustees. (Note: this is not a Senate position, but it is an elected student position. Students interested in both being a Senator and serving on these committees should consider running for Vice President for Finance, which also sits on the BoT Finance Committee and Student Affairs Committee.)
</p>
<h1>Chief of Staff
</h1>
    <hr>
<p>The Chief of Staff shall oversee all the ASPC support staff: the Senate Aide(s), Senate Secretary, Director of Public Relations, and Software Development Group members. The Chief of Staff shall chair weekly support staff meetings and lead the support staff in assisting the Senate with projects and tasks, including with fall recruiting. The Chief of Staff is accountable to the President and shall be appointed by the Senate upon the recommendation of the President.
</p>
<h1>Senate Aide
</h1>
    <hr>
<p>The Senate Aide(s) shall assist the Chief of Staff in executing the Senate’s projects and tasks.
</p>
<h1>Senate Secretary
</h1>
    <hr>
<p>The Secretary shall take minutes at Senate and make all non-financial ASPC records (Senate minutes, current lists of all officers and committee members, copies of the ASPC Constitution and Bylaws, etc.) available to any member of the ASPC upon request. The Secretary shall assist the Chief of Staff in executing the Senate’s projects and tasks.
</p>
<h1>Director of Public Relations
</h1>
    <hr>
<p>The Director shall facilitate the Senate’s communication with the student body by regularly updating the Senate’s online social media and website. The Director shall produce a regular report with information including but not limited to updates from each Senate member, updates from Senate-appointed committee representatives and employees, the minutes of the Senate’s previous meetings, and upcoming Senate events. The Director shall assist the Chief of Staff in executing the Senate’s projects and tasks.
</p>
<h1>Elections Commissioner
</h1>
    <hr>
<p>The Elections Supervisor shall be appointed by the Senate at the beginning of each semester, and shall supervise ASPC elections according to the rules and procedures specified in the ASPC Constitution, Bylaws, Elections Code, and rulings of the Senate. For more information, see the Elections Code (under Policies in the navigation area).
</p>
<h1>Product Manager (PM)
</h1>
    <hr>
<p>The Product Manager (PM) shall work closely with relevant Senators and ASPC-external stakeholders to craft inclusive and thorough product requirements for proposed and existing ASPC products. The PM shall only explore new products or modify existing products with the express approval of Senate, and will report on progress and plans to the Senate at least every semester. The PM shall work closely with the Software Engineers to meet product requirements and enforce quality. In the Software Development Group (SDG), the PM is horizontal to the Lead Software Engineer (Lead SWE) in authority, and is accountable to the Chief of Staff.
</p>
<h1>Lead Software Engineer (Lead SWE)
</h1>
    <hr>
<p>The Lead Software Engineer (Lead SWE) shall recruit, recommend to the Senate, and oversee the Software Engineers in service of the Software Development Group’s (SDG) mission. In the SDG, the Lead SWE is horizontal to the Product Manager (PM) in authority, and is accountable to the Chief of Staff.
</p>
<h1>Software Engineer (SWE)
</h1>
    <hr>
<p>The Software Engineers (SWE) will program in service of the Software Development Group’s mission and are accountable to the Lead Software Engineer (Lead SWE).
</p>
<h1>Director of Disability and Mental Health Advocacy</h1>
    <hr>
<p>The Director of Disability and Mental Health Advocacy (Director of DMHA) shall represent the interests of students with disabilities or mental health issues by advocating for policy and procedural changes in these areas and creating relevant resources for students. The Director of DMHA shall be the ASPC liaison to the Student Disability Resource Center, Monsour Counseling and Psychological Services (MCAPS), and Student Health Services. The Director of DMHA shall serve on the 5C Mental Health Working Group and shall administer the Disability Fund for student organizations. The Senate shall appoint the Director of DMHA upon the recommendation of the Commissioner of Community Relations. The Director shall be accountable to the Commissioner of Community Relations.
</p>
<h1>Advisor</h1>
    <hr>
<p>Staff advisors connect ASPC with Smith Campus Center and the Dean of Students office.
</p>
<h4>Academic Affairs Committee
</h4>
<h4>Food Committee
</h4>
<h4>Residence Hall Committee
</h4>
<h4>Environmental Quality Committee
</h4>
<h4>Reserves Investment Oversight Committee (Voting)
</h4>
<h4>Reserves Investment Oversight Committee (Advising)
</h4>
<h4>Coop Committee (Voting)
</h4>
<h4>Coop Committee (Advisory Member)
</h4>
<h4>Clubs & Organizations Committee
</h4>
<h4>Student Media Committee
</h4>
<h4>Campus Sports Committee
</h4>
<h4>Senior Class Committee
</h4>
<h4>Student-Faculty Interaction Committee
</h4>
<h4>Sophomore Class Committee
</h4>
<h4>Academic Procedures Committee
</h4>
<h4>Admissions and Financial Aid Committee
</h4>
<h4>Admissions and Financial Aid Committee 2
</h4>
<h4>Analyzing Differences Committee
</h4>
<h4>Critical Thinking and Writing Committee
</h4>
<h4>Curriculum Committee
</h4>
<h4>Faculty Position Advisory Committee
</h4>
<h4>Portal Committee
</h4>
<h4>Presidential Advisory Committee on Diversity (PACD)
</h4>
<h4>Study Abroad Committee
</h4>
<h4>At-Large Student on the Trustee Advancement Committee
</h4>
<h4>At-Large Student on the Trustee EQC Committee
</h4>
<h4>Presidential Search Committee Representative
</h4>
<h4>Student-Faculty Interaction Committee (Chair)</h4>
  </div>
</div>


