<% content_for :header do %>
  <%= render 'components/page_header', :title => "Committee Members" %>
<% end %>

<div class="content committee-content">

  <h3>Academic Procedures Committee</h3>
  Chair: Meredith Simpson
  <ul>
    <li>James Psomas</li>
    <li>Angela Tran</li>
  </ul>

  <h3>Admissions and Financial Aid Committee</h3>
  Chair: Johny Ek Aban
  <ul>
    <li>José Magaña</li>
    <li>Israel Teru</li>
  </ul>

  <h3>Critical Thinking and Writing Committee</h3>
  Chair: Meredith Simpson
  <ul>
    <li>Maï Diarra</li>
  </ul>

  <h3>Curriculum Committee</h3>
  Chair: Meredith Simpson
  <ul>
  </ul>

  <h3>Faculty Position Advisory Committee</h3>
  Chair: Meredith Simpson
  <ul>
    <li>Natalie McDonald</li>
    <li>Sarthak Mani Sharma</li>
  </ul>

  <h3>Study Abroad Committee</h3>
  Chair: Meredith Simpson
  <ul>
  </ul>

  <h3>Presidential Advisory Committee on Diversity (PACD)</h3>
  Chair: Sam Borje
  <ul>
    <li>Brady Huang</li>
    <li>Alfredo Reyes-Guzman</li>
  </ul>

  <h3>ITS Advisory Committee</h3>
  <ul>
    <li>Alex Ker</li>
  </ul>

  <h3>Academic Affairs Committee</h3>
  Chair: Meredith Simpson
  <ul>
    <li>Janelle Herring</li>
  </ul>

  <h3>Food Committee</h3>
  Chair: Daniel Pi
  <ul>
  </ul>

  <h3>Residence Hall Committee</h3>
  Chair: Daniel Pi
  <ul>
  </ul>

  <h3>Enviromental Quality Committee</h3>
  Chair: Juste
  <ul>
    <li>Kirara Tsutsui</li>
    <li>Corinne Tsai</li>
    <li>Anam Mehta</li>
    <li>Derry Li</li>
    <li>Pulkit Bansal</li>
    <li>Izzy Wiesenthal</li>
    <li>Israel Teru</li>
    <li>Ise Sharp</li>
  </ul>

  <h3>Coop Committee</h3>
  Chair: Johny Ek Aban
  <ul>
    <li>Diana A Rodriguez (advisory member)</li>
    <li>Alex Collado (advisory member)</li>
  </ul>

  <h3>Committee on Campus Climate and Diversity</h3>
  Chair: Sam Borje
  <ul>
    <li>Christian Clark</li>
    <li>Ivy Yuan</li>
    <li>Vanessa Dalpiaz</li>
    <li>Gabriel Abdellatif</li>
  </ul>

  <h3>Clubs & Organisations Committee</h3>
  Chair: Hans Zhou
  <ul>
    <li>Jia Wu</li>
    <li>Shari Evangelista</li>
  </ul>

  <h3>Campus Sports Committee</h3>
  Chair: Winston Nelson
  <ul>
  </ul>

  <h3>Senior Class Committee</h3>
  Chair: Laura Zhang
  <ul>
    <li>Pulkit Bansal</li>
    <li>Alice Tan</li>
    <li>Olivia Whitener</li>
    <li>Chris Wright</li>
    <li>Casey Goodwin</li>
    <li>Rosalind Faulkner</li>
  </ul>

  <h3>Junior Class Committee</h3>
  Chair: Perla Grimaldo-Ramirez
  <ul>
    <li>Lem Lan</li>
  </ul>

  <h3>Sophomore Class Committee</h3>
  Chair: Malak Afaneh
  <ul>
  </ul>

  <h3>First Year Class Committtee</h3>
  Chair: Andriw Read
  <ul>
  </ul>

  <h3>Student-Faculty Interaction Committee</h3>
  Chair: Perla Grimaldo-Ramirez
  <ul>
    <li>Lauren Schoen</li>
    <li>Isabelle Cheng</li>
  </ul>

  <h3>External Affairs Committee</h3>
  Chair: Alezandro Ruvalcaba
  <ul>
    <li>Geraldine Castaneda Barranco</li>
    <li>Hermo Quispe</li>
    <li>Julián Villaseñor</li>
  </ul>
  
</div>

