<% content_for :header do %>
  <%= render 'components/page_header', :title => "Meetings & Minutes", :subtitle => "What's ASPC Up To?" %>
<% end %>

<div class="content">
  <p>The ASPC Senate meets weekly during the year to conduct the business of student government and meet with the
    administration. These meetings are open to the public (with the exception of certain meetings covering sensitive legal
    or budget issues).</p>

  <p>For the 2018-19 academic year, meetings are being held every Thursday from 5pm-6:30pm in Smith Campus Center room
    #217 (above the Coop Fountain). Please join us!<p>

  <p><em>Minutes tracker coming soon.</em></p>
</div>