<% content_for :header do %>
  <%= render 'components/page_header', :title => "Funding Requests", :subtitle => "Request funding for clubs and events" %>
<% end %>

<div class="content">
  <h2>ASPC Budget Request and Alcohol Fund Request Forms</h2>
  <p>Students may request funds allocated for student and club events from ASPC. Forms to submit such a request are
    available on the
    <a href="https://claremont.collegiatelink.net/organization/aspc/availableforms">ASPC Organization Page</a> under
    forms (requires CollegiateLink login).
  <p>

  <h2>PEC Budget Request Form</h2>
  <p>In addition, students may also request funds through the Pomona Events Committee, available on the
    <a href="https://claremont.collegiatelink.net/organization/pec/availableforms">PEC Organization Page</a> under forms
    (requires CollegiateLink login).</p>

  <h2>Other FAQs</h2>
  <ul>
    <li><a href="tiny.cc/pomonaprguide">Publicity on Pomona's campus</a></li>
    <li><a href="tiny.cc/5cfunding">Other funding sources at the Claremont Colleges</a></li>
    <li><a href="tiny.cc/5cfinanceguide">Managing funds among student goverments and clubs</a></li>
  </ul>

  <em>For information regarding logging into CollegiateLink / Engage, see the official Pomona College
    <a href="https://www.pomona.edu/administration/campus-center/services-programs/engage-formerly-collegiatelink">guide</a>.</em>
</div>