<% content_for :header do %>
  <%= render 'components/page_header', :title => "Senators" %>
<% end %>

<div class="content senator-position-content">
  <h3 class="senator-position">Christopher Waugh, Advisor</h3>
  <h4 class="senator-email">SmithCampusCenter@pomona.edu</h4>
  <hr>
  <p>
    Chris Waugh has been an educator for over 20 years, serving campus communities in both large and small settings. He
    earned his Bachelor of Arts degree from Northern Illinois University, where he continued, earning a Master of Arts
    degree in Counseling. He then attended Loyola University Chicago, earning his doctorate degree in Higher Education
    Administration. He has taught at both Northern Illinois University and Loyola University Chicago.
  </p>
  <p>
    In his role at Pomona, Chris supports the Vice President of Student Affairs & Dean of Students as well as provides
    day-to-day leadership and support for the Smith Campus Center and related offices, including the Outdoor Education
    Center, Bridges Auditorium, and 88.7fm/KSPC, the radio station supported by the Claremont Colleges and the surrounding
    community.
  </p>
  <p>
    Chris' primary research interest is bystander engagement of undergraduate men involved in dangerous drinking
    situations. He recently completed his dissertation on this topic with plans to build upon this baseline research
    through ongoing alcohol education and program development. Chris is also interested in leveraging social media to
    build community and guiding student use of technology and social media to make personal and professional connections
    inside and outside the classroom. Chris lives in Claremont with his partner, Kristina, and their son Simon.
  </p>
</div>

<div class="content senator-position-content">
  <h3 class="senator-position">Ellie Ash-Balá, Advisor</h3>
  <h4 class="senator-email">SmithCampusCenter@pomona.edu</h4>
  <hr>
  <p>
    Ellie Ash-Balá has been at the Smith Campus Center since 2007. A graduate of Claremont McKenna College (‘99),
    Ellie has always loved the 5Cs and was thrilled at the opportunity to return to Claremont. She has her B.A. in
    Music/Religious Studies and earned her Master’s degree in Theology from Fuller Seminary. At Pomona, Ellie’s role
    is to educate and support students in their co-curricular experience. She provides oversight and training for the
    Claremont Colleges ~200 student-run organizations. In addition, she specifically advises the ASPC Senate and the
    Pomona Events Committee. Additionally, Ellie coordinates TAAP, Pomona's alcohol education and bystander
    intervention program, and the 4/7 Leadership program.
  </p>
  <p>
    As a Southern California resident for over 20 years, Ellie loves planning the “47 Things” trips that send students
    off-campus every semester to exciting destinations around Los Angeles and beyond (especially Dodger Stadium).
    Ellie lives in Claremont with her wife, Missy, and their dog, Dexter. You might spot them walking Dexter around
    campus…if you do, please say hi!
  </p>
</div>
