<% content_for :header do %>
  <%= render 'components/page_header', :title => "Constitution" %>
<% end %>

<div class="content constitution-content">
  <h1> Article I. Name and Membership</h1>
  <p>
    All and only registered students of Pomona College (henceforth referred to as “the College”) shall be members of
    the Associated Students of Pomona College (ASPC).
  </p>
  <h1>Article II. Purposes and Powers</h1>
  <h2>Section 1: Mission Statement</h2>
  <p>
    The ASPC is created to enable effective student participation in the shared governance of the College, to serve as
    the representative voice of the students, and to provide a governance structure for the students of Pomona
    College.
  </p>
  <p>
    As elected representatives of the student body and as the Board of Directors of the ASPC, the ASPC Senate shall:
  </p>
  <ol>
    <li>Advocate for student interests, including to administrators, faculty, the Board of Trustees, alumni, parents,
      and local communities;
    </li>
    <li>Allocate mandatorily collected student fees;</li>
    <li>Provide useful programs, services, and resources to students; and Foster an inclusive campus climate.</li>
  </ol>
  <h2>Section 2: Statement of Nonprofit</h2>
  <ol>
    <li>The ASPC is organized for nonprofit purposes. The ASPC is irrevocably dedicated to charitable purposes and no
      part of the net income or assets shall ever inure to the benefit of any director, officer, or member thereof, or
      to the benefit of any private persons.
    </li>
  </ol>
  <h2>Section 3: Political Limitations</h2>
  <ol>
    <li>No substantial part of the activities of this organization shall consist of carrying on propaganda, or otherwise
      attempting to influence legislation. The ASPC shall not participate or intervene in any political campaign
      (including the publication or distribution of statements) on behalf of any candidate for public office.
    </li>
  </ol>
  <h2>Section 4: Dissolution Clause</h2>
  <ol>
    <li>Upon dissolution or winding up of the ASPC, its assets remaining after payment, or provision for payment, of all
      the ASPC debts and liabilities shall be distributed to Pomona College, as long as Pomona College is a 501 (c)(3)
      organization. If Pomona College is no longer a 501 (c)(3) organization, the remaining assets shall be distributed
      to a nonprofit fund, foundation, or corporation which has established its tax exempt status under Section 501
      (c)(3) of the Internal Revenue Code.
    </li>
  </ol>
  <h1>Article III. The Senate</h1>
  <p>The Senate of the ASPC shall consist of fifteen students. Ten Senators shall be elected at-large: the President,
    the Executive Vice President, the Vice President of for Campus Events, the Vice President of Academic Affairs, and
    the Commissioners of Clubs & Organizations, Community Relations, Environmental Affairs, External Affairs, and
    Sports. The other six Senators shall be elected by a more limited constituency: a Senior Class President, a Junior
    Class President, a Sophomore Class President, a First Year Class President, a South Campus Representative, and a
    North Campus Representative.
  </p>
  <h2>Section 1. Officers of the Senate</h2>
  <ol>
    <li>
      The President shall lead the ASPC in serving students and achieving its mission as outlined in Article 2 Section
      1. The President shall chair the Senate, the Student Delegation to the Student Affairs Committee (SDSAC), and the
      Student Delegation to the Board of Trustees (SDBOT). The President shall be an ex-officio member of all student
      committees unless otherwise stated in the Constitution or Bylaws. The President shall meet regularly with the Dean
      of Students and with the student body presidents of the other Claremont Colleges. The President shall serve as a
      member of the ASPC Budget Committee. The President shall also serve on the Alumni Board and as the co-vice chair
      of the Trustee Student Affairs Committee.
    </li>
    <li>
      The Executive Vice President shall act as a financial advisor to the Senate and shall oversee all student
      government operations including the Fountain, Store, the Pomona Events Committee, and, as needed, the financial
      aspects of KSPC and The Student Life. The Vice President shall be a member of the SDSAC, shall meet regularly with
      the Dean of Students, and shall chair the Senate in the absence of the President. The Vice President shall chair
      the Coop Committee and shall, at the beginning of each academic year, review the investing guidelines and status
      of the ASPC Reserves. The Vice President shall also serve on the Trustee Finance Committee. The Vice President
      shall chair the ASPC Budget Committee and shall coordinate annual budget hearings with the student governments of
      the other Claremont Colleges. The Vice President will recommend to the Senate and lead the student members of the
      Admissions and Financial Aid Committee.
    </li>
    <li>
      The Vice President of Campus Events shall be responsible for the social events of the ASPC and shall work to
      create an inclusive and safe social climate. The Vice President shall chair the Pomona Events Committee (PEC) and
      shall report on a quarterly basis to the ASPC on PEC’s expenditures and activities. The Vice President shall be a
      member of the ASPC Budget Committee. The Vice President shall be the ASPC representative to the Five College
      Student Activities Committee.
    </li>
    <li>
      The Vice President of Academic Affairs shall represent the ASPC in questions regarding the educational policy of
      the college. The Vice President shall be a member of the Academic Procedures Committee, the Analyzing Difference
      Committee, the Curriculum Committee, the Critical Thinking and Writing Committee, and the Faculty Position
      Advisory Committee. The Vice President shall attend all faculty meetings. The Vice President shall also serve as a
      member of the Trustee Educational Quality Committee and shall chair the student Academic Affairs Committee. The
      Vice President will recommend to the Senate and lead the student members of the Academic Procedures Committee, the
      Curriculum Committee, the Critical Thinking and Writing Committee, the Faculty Position Advisory Committee, and
      the Study Abroad Committee.
    </li>
    <li>
      The North and South Campus Representatives shall represent their constituencies to the Senate in matters related
      to student affairs. As such, the North Campus Representative must reside on North Campus and the South Campus
      Representative must reside on South Campus. Both the North and South Campus Representatives shall serve as members
      of SDSAC and of the ASPC Budget Committee. The North and South Campus Representatives shall co-chair both the
      Residence Hall Committee and the Food Committee.
    </li>
    <li>
      The Commissioner of Clubs and Organizations shall represent the ASPC in questions regarding clubs and
      organizations on campus. The Commissioner shall work with a staff member of the Campus Center as a liaison to
      clubs and organizations to ensure that they are fulfilling the mission of their charters and to provide resources
      and support. The Commissioner shall chair the Student Clubs and Organizations Committee. The Commissioner shall
      serve as a member of the ASPC Budget Committee, and will assist the Executive Vice President in coordinating
      annual budget hearings with the student governments of the other Claremont Colleges. The Commissioner shall hold
      annual meetings for club leaders at the beginning of the fall semester and during the spring semester.
    </li>
    <li>
      The Commissioner of Community Relations shall have the primary responsibility of voicing and addressing the
      concerns of underrepresented and marginalized communities, activist and support organizations, and mentor groups
      of the college community in efforts to improve campus climate. The Commissioner shall serve on the SDSAC and the
      President’s Advisory Committee on Diversity. The Commissioner shall serve on or recommend to the Senate a student
      to serve on the Analyzing Difference Committee. The Commissioner shall chair the Committee on Campus Climate and
      Diversity and/or shall meet regularly with the leadership of relevant campus groups. The Commissioner shall
      further organize at discretion as relevant issues arise.
    </li>
    <li>
      The Commissioner of Environmental Affairs shall represent and advise the ASPC in matters regarding the
      preservation and improvement of the quality of the environment. The Commissioner shall chair the Environmental
      Quality Committee and shall appoint students to other committees concerning sustainability and the quality of the
      environment. The Commissioner shall meet regularly with the College Sustainability Coordinator. The Commissioner
      will meet regularly with environmental representatives of the five colleges. The Commissioner shall be a member of
      the Residence Halls Committee and of the Food Committee, and shall be the Transition Chair of these Committees
      prior to the fall elections of the North and South Campus Representatives. The Commissioner may be invited by the
      Executive Vice President to serve on the Coop Committee. The Commissioner shall be an ex-officio member of the
      President’s Advisory Committee on Sustainability. The Commissioner shall be a member of the Trustee Facilities and
      Environment Committee.
    </li>
    <li>
      The Commissioner of External Affairs shall represent the ASPC in matters regarding the greater Claremont Colleges
      (including the Claremont University Consortium), maintain working relationships between the ASPC and the other
      Claremont Colleges’ student governments, and facilitate the relationship between Pomona College and the
      surrounding community. The Commissioner shall serve as the liaison between the ASPC and students living off campus
      and between the ASPC and the Draper Center for Community Partnerships. The Commissioner shall chair the External
      Affairs Committee and shall attend Claremont City Council meetings.
    </li>
    <li>
      The Commissioner of Sports shall represent the ASPC in matters related to athletics, shall represent the views of
      student-athletes to the Senate, and shall strive to improve the experience of student-athletes. The Commissioner
      shall chair the Campus Sports Committee and will help plan and oversee events involving athletics (e.g.
      homecoming). The Commissioner shall serve as a liaison to the Pomona-Pitzer athletic department. If they are a
      current student-athlete, they shall serve as a member of the Student-Athlete Advisory Committee; if not, they
      shall attend all Student-Athlete Advisory Committee meetings.
    </li>
    <li>
      The Senior Class President shall host social events for the senior class and shall work closely with advancement
      and alumni to coordinate participation in the senior class gift. The Senior Class President shall chair the Senior
      Class Committee. The Senior Class President shall be a non-voting member of the Trustee Honorary Degrees
      Committee. The Senior Class President shall serve on or recommend to the Senate a student to serve on the Trustee
      Advancement Committee. The Senior Class President shall serve as a member of the Inspirational Young Alumni Award
      Selection Committee and shall assist in the planning of Class Day and Commencement. The Senior Class President
      shall have the authority to create ad hoc Senior Class committees.
    </li>
    <li>
      The Junior Class President shall host social events for the junior class and lead student participation in the Wig
      Award. The Junior Class President shall chair the Junior Class Committee. The Junior Class President shall be a
      member of the Student Faculty Interaction Committee, and the Inspirational Young Alumni Award Selection Committee.
      Prior to the fall election of the Sophomore Class President, the incoming Junior Class President shall serve as
      transition chair of the Student Faculty Interaction Committee. The Junior Class President shall be a non-voting
      member of the Trustee Honorary Degrees Committee. The Junior Class President shall be a member of the Wig Award
      Committee, and shall recommend to the Senate and lead the other student member of the Wig Award Committee. The
      Junior Class President shall have the authority to create ad hoc Junior Class committees.
    </li>
    <li>
      The Sophomore Class President shall host social events for the sophomore class and for student-faculty
      interaction. The Sophomore Class President shall chair the Sophomore Class Committee and the the Student Faculty
      Interaction Committee. The Sophomore Class President shall serve as a member of the Inspirational Young Alumni
      Award Selection Committee. The Sophomore Class President shall have the authority to create ad hoc Sophomore Class
      committees.
    </li>
    <li>
      The First Year Class President shall host social events for the first-year class and shall chair the First Year
      Class Committee. The First Year Class President shall serve as a member of the Inspirational Young Alumni Award
      Selection Committee and the Orientation and Book Selection Planning Committee. The First Year Class President
      shall have the authority to create ad hoc First Year Class committees.
    </li>
  </ol>
  <h2>
    Section 2. Powers
  </h2>
  <p>
    All powers not delegated by the Constitution or Bylaws of the ASPC shall be retained by the Senate.
  </p>
  <h2>
    Section 3. Fellowships
  </h2>
  <p>
    Senate members shall receive fellowships as determined by the Budget Committee during the annual budget hearings.
  </p>
  <h1>
    Article IV. Procedures
  </h1>
  <h2>
    Section 1. Meetings
  </h2>
  <ol>
    <li>
      Meetings of the ASPC governing bodies and committees shall be open to public attendance except when, upon a
      two-thirds vote, the Senate decides to close them to discuss personnel or litigation issues. Any action taken in a
      closed session shall be reported at the next public opportunity.
    </li>
    <li>
      The Senate shall meet no less than twice a month, excluding holidays.
    </li>
    <li>
      A majority of members shall constitute a quorum for the Senate.
    </li>
    <li>
      Each officer of the Senate has one vote.
    </li>
    <li>
      Meetings of the Senate shall be called by the President, by a majority vote of the Senate, or by a petition signed
      by at least ten percent of the ASPC.
    </li>
    <li>
      Senate meetings shall follow Roberts' Rules of Order.
    </li>
  </ol>
  <h2>Section 2. Elections</h2>
  <ol>
    <li>
      All balloting of the Associated Students shall be by secret ballot.
    </li>
    <li>
      Terms of office for members of the Senate shall be indicated in the Bylaws. No student shall be eligible for
      election if that student is unwilling or unable to complete the term of office.
    </li>
    <li>
      If the office of the President is vacated, the Senate shall make an appointment.
    </li>
    <li>
      If the office of any other member of the Senate is vacated, the remaining members of the body shall, by a majority
      vote, decide whether to hold an election or to appoint someone to fill the position. If they decide to make an
      appointment, that appointment shall be for the unexpired term. If they decide to have an election, they may
      appoint a person to fill the position temporarily until such time as an election has been held.
    </li>
    <li>
      The Senate shall maintain an Election Code containing election rules and procedures which are not specified in the
      Constitution or the Bylaws.
    </li>
    <li>
      The Senate shall oversee the elections for any student representative whose election shall require the vote of the
      student body.
    </li>
  </ol>
  <h2>
    Section 3. Recall of Officers
  </h2>
  <p>
    Any officer of the Senate may be removed from office by a one-half vote of the constituency which that officer
    represents. Recall proceedings may be initiated by a petition signed by at least fifteen percent of the students in
    the officer's constituency, or by a majority of the Senate.
  </p>
  <h2>
    Section 4. Initiatives
  </h2>
  <p>
    Any matter over which a governing body or committee of the ASPC has jurisdiction may be brought to a vote of the
    ASPC either by a petition signed by at least ten percent of the ASPC or by a majority vote of the Senate. A decision
    on such a matter shall be determined by the majority of those voting on a ballot of at least four hundred members of
    the ASPC.
  </p>
  <h2>
    Section 5. Amendments and Bylaws
  </h2>
  <ol>
    <li>
      This Constitution may be amended by a three-fifths vote of the ASPC.
    </li>
    <li>
      Bylaws shall be appended to this Constitution. These Bylaws may be amended either by a vote of three-fourths of
      the members of the Senate, or by a majority vote of the ASPC.
    </li>
  </ol>
  <h2>
    Section 6. Timetable for Recall, Referendum, and Amendments
  </h2>
  <p>
    Upon proper initiation of proceedings of recall, referendum, or amendment to either the Constitution or Bylaws, the
    Senate shall set a date for balloting not more than four school weeks from the date of presentation of the petition.
  </p>
  <h2>Ratified April 11, 1994 by a vote of the student body.
  </h2>
  <h2>Amended March 25th, 1997 by a vote of the student body.
  </h2>
  <h2>Amended April 12, 1999 by a vote of the student body.
  </h2>
  <h2>Amended May 3, 2004 by a vote of the student body.
  </h2>
  <h2>Amended May 2008 by a vote of the student body.
  </h2>
  <h2>Amended September 2010 by a vote of the student body.
  </h2>
  <h2>Amended September 2011 by a vote of the student body.
  </h2>
  <h2>Amended September 2013 by a vote of the student body.
  </h2>
  <h2>Amended February 15, 2017 by a vote of the student body.</h2>

</div>

