<% content_for :header do %>
  <%= render 'components/page_header', :title => "Positions" %>
<% end %>

<div class="content positions-content">

  <h1> About ASPC  </h1>
  <hr>

  <p>  We're an organization with a $500,000+ annual operating budget, dozens of student employees and volunteers, and the potential to make big changes for students. Our 4 major functions are:
    advocacy,
    providing useful services (web services, SCC programs, Coop Fountain/Store, Airport Rideshare, etc.)
    supporting student clubs (funding and knowledge), and
    programming (planning events).</p>


   <p>We have a wide range of opportunities - expected commitments range from 1 to 8 hours per week. Position compensations range from wages to yearly fellowships to volunteer-only.</p>

  <p>We are committed to preparing everyone for these positions! If you’re in an advocacy/policy position, we’ll train you in advocacy and drafting policy language, and you’ll work throughout the year on small teams chaired by elected Senate members. If you’re on an event planning committee, you’ll be led by experienced event programmers. </p>

  <H1> Sentate Positions</H1>

  <h1>President</h1>
  <hr>
  <p>The President shall lead the ASPC in serving students and achieving its mission. The President shall chair the
    Senate, the Student Delegation to the Student Affairs Committee (SDSAC), and the Student Delegation to the Board of
    Trustees (SDBOT). The President shall serve as a member of the ASPC Budget Committee. The President shall also serve
    on the Alumni Board and as the co-vice chair of the Student Affairs Committee of the Board of Trustees. The
    President shall be an ex-officio member of all student committees unless otherwise stated in the Constitution or
    Bylaws. The President shall meet regularly with the Dean of Students and with the student body presidents of the
    other Claremont Colleges.
  </p>
  <h1>Executive Vice President
  </h1>
  <hr>
  <p>The Executive Vice President shall act as a financial advisor to the Senate and shall oversee all student
    government operations including the Fountain, Store, the Pomona Events Committee (PEC), and, as needed, the
    financial aspects of KSPC and The Student Life. The Vice President shall chair the ASPC Budget Committee and shall
    coordinate annual budget hearings with the student governments of the other Claremont Colleges. The Vice President
    shall chair the Coop Committee and shall, at the beginning of each academic year, review the investing guidelines
    and status of the ASPC Reserves. The Vice President shall be a member of the Student Delegation to the Student
    Affairs Committee (SDSAC), shall meet regularly with the Dean of Students, and shall chair the Senate in the absence
    of the President. The Vice President shall also serve on the Finance Committee of the Board of Trustees. The Vice
    President shall recommend to the Senate and lead the student members of the Admissions and Financial Aid Committee.
  </p>
  <h1>Vice President of Campus Events
  </h1>
  <hr>
  <p>The Vice President of Campus Events shall be responsible for the social events of the ASPC and shall work to create
    an inclusive and safe social climate. The Vice President shall chair the Pomona Events Committee (PEC) and shall
    report on a quarterly basis to the ASPC on PEC’s expenditures and activities. The Vice President shall be a member
    of the ASPC Budget Committee. The Vice President shall be the ASPC representative to the Five College Student
    Activities Committee.
  </p>
  <h1>Vice President of Academic Affairs
  </h1>
  <hr>
  <p>The Vice President of Academic Affairs shall represent the ASPC in questions regarding the educational policy of
    the college. The Vice President shall chair the student Academic Affairs Committee. The Vice President shall be a
    member of the Academic Procedures Committee (APC), the Analyzing Difference Committee, the Curriculum Committee, the
    Critical Thinking and Writing Committee, and the Faculty Position Advisory Committee. The Vice President shall
    attend all faculty meetings. The Vice President shall also serve as a member of the Educational Quality Committee of
    the Board of Trustees. The Vice President shall recommend to the Senate and lead the student members of the APC, the
    Curriculum Committee, the Critical Thinking and Writing Committee, the Faculty Position Advisory Committee, and the
    Study Abroad Committee.
  </p>
  <h1>North Campus Representative
  </h1>
  <hr>
  <p>The North and South Campus Representatives shall represent their constituencies to the Senate in matters related to
    student affairs. As such, the North Campus Representative must reside on North Campus. The North and South Campus
    Representatives shall co-chair both the Residence Hall Committee and the Food Committee. Both the North and South
    Campus Representatives shall serve as members of Student Delegation to the Student Affairs Committee (SDSAC) and of
    the ASPC Budget Committee.
  </p>
  <h1>South Campus Representative
  </h1>
  <hr>
  <p>The North and South Campus Representatives shall represent their constituencies to the Senate in matters related to
    student affairs. As such, the South Campus Representative must reside on South Campus. The North and South Campus
    Representatives shall co-chair both the Residence Hall Committee and the Food Committee. Both the North and South
    Campus Representatives shall serve as members of Student Delegation to the Student Affairs Committee (SDSAC) and of
    the ASPC Budget Committee.
  </p>
  <h1>Commissioner of Clubs and Organizations
  </h1>
  <hr>
  <p>The Commissioner of Clubs and Organizations shall represent the ASPC in questions regarding clubs and organizations
    on campus. The Commissioner shall work with a staff member of the Campus Center as a liaison to clubs and
    organizations to ensure that they are fulfilling the mission of their charters and to provide resources and support.
    The Commissioner shall chair the Student Clubs and Organizations Committee. The Commissioner shall serve as a member
    of the ASPC Budget Committee, and shall assist the Executive Vice President in coordinating annual budget hearings
    with the student governments of the other Claremont Colleges. The Commissioner shall hold annual meetings for club
    leaders at the beginning of the fall semester and during the spring semester.
  </p>
  <h1>Commissioner of Community Relations
  </h1>
  <hr>
  <p>The Commissioner of Community Relations shall have the primary responsibility of voicing and addressing the
    concerns of underrepresented and marginalized communities, activist and support organizations, and mentor groups of
    the college community in efforts to improve campus climate. The Commissioner shall serve on the Student Delegation
    to the Student Affairs Committee (SDSAC) and the President’s Advisory Committee on Diversity. The Commissioner shall
    serve on or recommend to the Senate a student to serve on the Analyzing Difference Committee. The Commissioner shall
    chair the Committee on Campus Climate and Diversity and/or shall meet regularly with the leadership of relevant
    campus groups. The Commissioner shall further organize at discretion as relevant issues arise.
  </p>
  <h1>Commissioner of Environmental Affairs
  </h1>
  <hr>
  <p>The Commissioner of Environmental Affairs shall represent and advise the ASPC in matters regarding the preservation
    and improvement of the quality of the environment. The Commissioner shall chair the Environmental Quality Committee
    (EQC) and shall appoint students to other committees concerning sustainability and the quality of the environment.
    The Commissioner shall meet regularly with the College Sustainability Coordinator. The Commissioner shall meet
    regularly with environmental representatives of the five colleges. The Commissioner shall be a member of the
    Residence Halls Committee and of the Food Committee, and shall be the transition chair of these committees prior to
    the fall elections of the North and South Campus Representatives. The Commissioner may be invited by the Executive
    Vice President to serve on the Coop Committee. The Commissioner shall be an ex-officio member of the President’s
    Advisory Committee on Sustainability. The Commissioner shall be a member of the Facilities and Environment Committee
    of the Board of Trustees.
  </p>
  <h1>Commissioner of External Affairs
  </h1>
  <hr>
  <p>The Commissioner of External Affairs shall represent the ASPC in matters regarding the greater Claremont Colleges
    (including the Claremont University Consortium), maintain working relationships between the ASPC and the other
    Claremont Colleges’ student governments, and facilitate the relationship between Pomona College and the surrounding
    community. The Commissioner shall serve as the liaison between the ASPC and students living off campus and between
    the ASPC and the Draper Center for Community Partnerships. The Commissioner shall chair the External Affairs
    Committee and shall attend Claremont City Council meetings.
  </p>
  <h1>Commissioner of Sports
  </h1>
  <hr>
  <p>The Commissioner of Sports shall represent the ASPC in matters related to athletics, shall represent the views of
    student-athletes to the Senate, and shall strive to improve the experience of student-athletes. The Commissioner
    shall chair the Campus Sports Committee and shall help plan and oversee events involving athletics (e.g.
    homecoming). The Commissioner shall serve as a liaison to the Pomona-Pitzer athletic department. If the Commissioner
    is a current student-athlete, the Commissioner shall serve as a member of the Student-Athlete Advisory Committee; if
    not, the Commissioner shall attend all Student-Athlete Advisory Committee meetings.
  </p>
  <h1>Senior Class President
  </h1>
  <hr>
  <p>The Senior Class President shall host social events for the senior class and shall work closely with advancement
    and alumni to coordinate participation in the senior class gift. The Senior Class President shall chair the Senior
    Class Committee. The Senior Class President shall be a non-voting member of the Honorary Degrees Committee of the
    Board of Trustees. The Senior Class President shall serve on or recommend to the Senate a student to serve on the
    Advancement Committee of the Board of Trustees. The Senior Class President shall serve as a member of the
    Inspirational Young Alumnus/a Selection Committee and shall assist in the planning of Class Day and Commencement.
    The Senior Class President shall have the authority to create ad hoc Senior Class committees.
  </p>
  <h1>Junior Class President
  </h1>
  <hr>
  <p>The Junior Class President shall host social events for the junior class and lead student participation in the Wig
    Award. The Junior Class President shall chair the Junior Class Committee. The Junior Class President shall be a
    member of the Student-Faculty Interaction Committee, and the Inspirational Young Alumnus/a Selection Committee.
    Prior to the fall election of the Sophomore Class President, the incoming Junior Class President shall serve as
    transition chair of the Student-Faculty Interaction Committee. The Junior Class President shall be a non-voting
    member of the Honorary Degrees Committee of the Board of Trustees. The Junior Class President shall be a member of
    the Wig Award Committee, and shall recommend to the Senate and lead the other student member of the Wig Award
    Committee. The Junior Class President shall have the authority to create ad hoc Junior Class committees.
  </p>
  <h1>Sophomore Class President
  </h1>
  <hr>
  <p>The Sophomore Class President shall host social events for the sophomore class and for student-faculty interaction.
    The Sophomore Class President shall chair the Sophomore Class Committee and the the Student-Faculty Interaction
    Committee. The Sophomore Class President shall serve as a member of the Inspirational Young Alumnus/a Selection
    Committee. The Sophomore Class President shall have the authority to create ad hoc Sophomore Class committees.
  </p>
  <h1>First Year Class President
  </h1>
  <hr>
  <p>The First Year Class President shall host social events for the first year class and shall chair the First Year
    Class Committee. The First Year Class President shall serve as a member of the Inspirational Young Alumnus/a
    Selection Committee and the Orientation and Book Selection Committee. The First Year Class President shall have the
    authority to create ad hoc First Year Class committees.
  </p>

  <h1>At-Large Student on the Trustee Finance Committee
  </h1>
  <hr>
  <p>This student sits on the Finance Committee of the Board of Trustees. The duties of this position include attending
    Board of Trustees committee meetings and giving student perspectives, helping organize and decide on the topics for
    the fall student-trustee retreat, and helping organize dinners between students and trustees. (Note: this is not a
    Senate position, but it is an elected student position. Students interested in both being a Senator and serving on
    these committees should consider running for Vice President for Finance, which also sits on the BoT Finance
    Committee and Student Affairs Committee.)
  </p>


  <H1> Senate Staff Positions</H1>
  <p>These positions are paid an hourly wage. Applicants may be contacted for an interview.</p>

  <h1>Chief of Staff
  </h1>
  <hr>
  <p>The Chief of Staff shall oversee all the ASPC support staff: the Senate Aide(s), Senate Secretary, Director of
    Public Relations, and Software Development Group members. The Chief of Staff shall chair weekly support staff
    meetings and lead the support staff in assisting the Senate with projects and tasks, including with fall recruiting.
    The Chief of Staff is accountable to the President and shall be appointed by the Senate upon the recommendation of
    the President.
  </p>
  <h1>Senate Aide
  </h1>
  <hr>
  <p>The Senate Aides shall assist the Chief of Staff in executing the Senate’s projects and tasks. Such tasks may include program administration, policy/ legislative drafting, quarterly reports, planning events, and/or general administrative tasks.   Expected 8h/week commitment. Must attend weekly Senate meetings and ASPC trainings, report to the Chief of Staff.

  </p>
  <h1>Senate Secretary
  </h1>
  <hr>
  <p>The Secretary shall take minutes at Senate and make all non-financial ASPC records (Senate minutes, current lists
    of all officers and committee members, copies of the ASPC Constitution and Bylaws, etc.) available to any member of
    the ASPC upon request. The Secretary shall assist the Chief of Staff in executing the Senate’s projects and tasks.
  </p>
  <h1>Director of Public Relations
  </h1>
  <hr>
  <p>The Director shall facilitate the Senate’s communication with the student body by regularly updating the Senate’s
    online social media and website. The Director shall produce a regular report with information including but not
    limited to updates from each Senate member, updates from Senate-appointed committee representatives and employees,
    the minutes of the Senate’s previous meetings, and upcoming Senate events. The Director shall assist the Chief of
    Staff in executing the Senate’s projects and tasks.
  </p>
  <h1>Director of Disability and Mental Health Advocacy (DHMA)
  </h1>
  <hr>
  <p>The Director shall represent the interests of students with disabilities or mental health issues by advocating for policy and procedural changes in these areas and creating relevant resources for students. The Director shall be the ASPC liaison to the Student Disability Resource Center, Monsour Counseling and Psychological Services (MCAPS), and Student Health Services. The Director serves on the 5C Mental Health Working Group and administers the Disability Fund for student organizations. The Director shall be accountable to the Commissioner of Community Relations.

  </p>
  <h1>Elections Commissioner
  </h1>
  <hr>
  <p>The Elections Supervisor shall be appointed by the Senate at the beginning of each semester, and shall supervise
    ASPC elections according to the rules and procedures specified in the ASPC Constitution, Bylaws, Elections Code, and
    rulings of the Senate. For more information, see the Elections Code (under Policies in the navigation area).
  </p>
  <h1>Product Manager (PM)
  </h1>
  <hr>
  <p>The Product Manager (PM) shall work closely with relevant Senators and ASPC-external stakeholders to craft
    inclusive and thorough product requirements for proposed and existing ASPC products. The PM shall only explore new
    products or modify existing products with the express approval of Senate, and will report on progress and plans to
    the Senate at least every semester. The PM shall work closely with the Software Engineers to meet product
    requirements and enforce quality. In the Software Development Group (SDG), the PM is horizontal to the Lead Software
    Engineer (Lead SWE) in authority, and is accountable to the Chief of Staff.
  </p>
  <h1>Lead Software Engineer (Lead SWE)
  </h1>
  <hr>
  <p>The Lead Software Engineer (Lead SWE) shall recruit, recommend to the Senate, and oversee the Software Engineers in
    service of the Software Development Group’s (SDG) mission. In the SDG, the Lead SWE is horizontal to the Product
    Manager (PM) in authority, and is accountable to the Chief of Staff.
  </p>
  <h1>Software Engineer (SWE)
  </h1>
  <hr>
  <p>The Software Engineers (SWE) will program in service of the Software Development Group’s mission and are
    accountable to the Lead Software Engineer (Lead SWE).
  </p>

  <H1> Positions on Faculty, Admin, and Alumni Committees</H1>

  <br/>
  <h1>Admissions and Financial Aid Committee</h1>
  <hr>
  <p>This committee consists of faculty, the Dean of Admissions, the Dean of Students, the Director of Financial Aid and two students. Reports to the EVP.
  </p>
  <h1>Curriculum Committee (2 seats)</h1>
  <hr>
  <p>Meets weekly. Oversee all curricular matters, including GE requirements, course and major changes, and grade inflation/course rigor. Also a member of the student Academic Affairs Committee. Reports to VP of Academic Affairs.</p>
  <h1>Analyzing Differences Committee (1 seat)</h1>
  <hr>
  <p>Meets bi-weekly or monthly. Certifies courses that fulfill the General Education Analyzing Difference requirement. Also a member of the student Academic Affairs Committee. Reports to: Vice President of Academic Affairs.
  </p>
  <h1>Study Abroad Committee (2 seats)</h1>
  <hr>
  <p>Meets bi-weekly. Must have studied abroad. Determines policies regarding education abroad and reviews student applications for studying abroad. Also a member of the student Academic Affairs Committee. Reports to VP of Academic Affairs.
  </p>
  <h1>Faculty Position Advisory Committee</h1>
  <hr>
  <p>Advises the Academic Dean and President on tenure-track position planning decisions. In the Fall, the student members of the committee conduct a survey of the student body to produce the annual Report on Student Perceptions of Enrollment and Curricular Pressures. Also a member of the student Academic Affairs Committee. Must be an arts/humanities major. Reports to: Vice President of Academic Affairs.</p>
  <h1>President’s Advisory Committee on Diversity (2 seats)</h1>
  <hr>
  <p>Meets bi-weekly. Reviews the status of diversity at the College and advises the President and admin on relevant issues throughout the year.  Reports to Commissioner of Community Relations.
  </p>
  <h1>Critical Thinking and Writing Committee (2 seats)</h1>
  <hr>
  <p>Meets weekly or bi-weekly. Oversees writing in the curriculum, the ID1 Program, the GE Writing Requirement, and the Writing Center. Also a member of the student Academic Affairs Committee. Reports to VP of Academic Affairs.
  </p>
  <h1>President’s Advisory Committee on Sustainability</h1>
  <hr>
  <p>The President’s Advisory Committee on Sustainability is responsible for monitoring the campus operations that directly affect the College's use of resources, developing strategies for increasing campus sustainability, developing outreach and communication programs for spreading information about campus sustainability, administering the President's Sustainability Fund, and reporting on progress on campus sustainability. Reports to Commissioner of Environmental Affairs.
  </p>
  <h1>Coop Committee</h1>
  <hr>
  <p>The primary responsibility of the committee is to set policy for the Coop Fountain and Coop Store. The committee shall also facilitate communication between and among the businesses and the Senate. This committee shall be chaired by the Executive Vice President and shall consist of two Senators, one of whom is often the Commissioner of Environmental Affairs due to the Committee’s relevant subject material; one student at-large, and the heads or general managers of the Fountain and Store.
  </p>
  <h1>Environmental Quality Committee (EQC)</h1>
  <hr>
  <p>The committee shall manage environmental projects that the committee or the Senate deem important, and shall inform the Senate how their projects, funding, and legislation might affect the environment. The Committee shall facilitate collaboration across The Claremont Colleges on environmental matters, including by inviting environmental representatives from the other Claremont Colleges to serve as members of the committee.
  </p>
  <h1>First Year Class Committee</h1>
  <hr>
  <p> The committee shall plan social and educational events for the first year class. This committee shall be chaired by the First Year Class President and shall consist of at-large members of the first year class.
  </p>
  <h1>Sophomore Class Committee</h1>
  <hr>
  <p>The committee shall plan social and educational events for the sophomore class. This committee shall be chaired by the Sophomore Class President and shall consist of at-large members of the sophomore class.
  </p>
  <h1>Residence Halls Committee</h1>
  <hr>
  <p>The committee shall address concerns from the students in regard to the residence halls. The committee shall advise on housing policy and is the representative voice of the student body on all housing policy decisions. As needed, the committee shall work towards providing support for service staff in the residence hall. The committee shall be advised by at least one non-voting professional staff member from the Office of Housing and Residence Life.
  </p>
  <h1>Food Committee</h1>
  <hr>
  <p>The primary responsibility of the committee shall be to address concerns from the students in regard to dining services. As needed, the committee shall work towards providing support for service staff in the residence hall. As much as possible, there shall be equal numbers of students from North and South Campuses. The committee shall meet monthly throughout the school year to discuss concerns, as well as meet regularly with the Dean of Students and the General Manager of Dining Services to communicate those concerns.
  </p>
  <br/>
  <H1>Positions on Student-Chaired Committees</H1>

  <br/>
  <p>These committees almost all meet on a bi-weekly schedule. While they are chaired by students, these committees’ memberships often contain relevant administrators. (Comm. = Commissioner.)
  </p>
  <br/>
  <h1>Academic Affairs Committee</h1>
  <hr>
  <p>This Committee shall meet regularly to pursue policy reforms, educate students about current events in academic affairs, and advise the student representatives to the faculty committees. Chaired by VP Academic Affairs.
  </p>
  <h1>Academic Procedures Committee (1 seat)</h1>
  <hr>
  <p>The APC votes weekly on petitions for exceptions to academic regulations. As an APC member you are eligible to sit on Academic Discipline Boards, and must attend Judicial Board training in the fall. As a member of the full APC, you only meet if the subcommittee can't come to a decision, which is extremely rare. Also a member of the student Academic Affairs Committee. Reports to: Vice President of Academic Affairs.
  </p>
  <h1>Campus Sports Committee</h1>
  <hr>
  <p>Plan sports-related events, including homecoming. Work to promote varsity and intramural sports on campus. Chaired by Comm. of Sports.
  </p>
  <h1>External Affairs Committee</h1>
  <hr>
  <p> The committee shall advocate on behalf of ASPC on matters regarding the Claremont community, including the Consortium’s policies and resources. Chaired by Comm. of External Affairs.
  </p>
  <h1>Committee on Campus Climate and Diversity</h1>
  <hr>
  <p>Address the concerns of underrepresented communities, student activism, support organizations, and mentor programs, as well as larger issues of campus climate. Chaired by Comm. of Community Relations.
  </p>
  <h1>Student Clubs and Organizations Committee</h1>
  <hr>
  <p>Create and maintain forum for student group interaction. Chaired by Comm. of Clubs.
  </p>
  <h1>Student-Faculty Interaction Committee</h1>
  <hr>
  <p>Plan events that encourage interaction between students and faculty. Chaired by Junior Class President.
  </p>
  <h1>Faculty Position Advisory Committee</h1>
  <hr>
  <p>The committee will advise the Dean and the President on tenure-track position planning decisions. The students on the committee will in the fall semester conduct a survey of the student body to produce the annual Report on Student Perceptions of Enrollment and Curricular Pressures. This committee consists of six professors (two from each division), the Vice President of Academic Affairs and two students appointed by the Senate upon the recommendation of the Vice President of Academic Affairs. Each student on the committee must represent a different division of the college, as determined by declared academic major, and students must be able to serve on the committee for the entire academic year. The Dean of the College will serve as an ex-officio member of the Committee.
  </p>

</div>


