<% content_for :header do %>
  <%= render 'components/page_header', :title => "Software Development Team" %>
<% end %>

<div class="content software-content">
  <h1>Who we are</h1>
  <p>The ASPC Software Development Group is a subsidiary of ASPC's communications arm, and works closely with the Commissioner of Communications. Our goal is to use digital technology to provide useful services, tools, and information to the students of Pomona College and the 5C community. Specifically, we maintain the central ASPC server, create apps for the ASPC website, and provide web hosting for official ASPC clubs.
  </p>
  <h1>Why you should join us</h1>
  <p>We build things that we want to use, and that make a big difference in the lives of the 5,000+ Claremont students.
    We do things the way "real" web developers do, taking on exciting and complex projects such as building this website. Skills honed here will be useful to you whether you end up at a web startup or as a professor who wants to post their course materials online.
    Flexible hours, and you can work from your dorm room :)</p>
  <h1>How you can apply</h1>
  <p>Check out our code on <a href="https://github.com/aspc/aspc-website"> GitHub</a> and see if it strikes your fancy. Contact digitalmedia@aspc.pomona.edu and tell us 1) why you're interested in joining us, and 2) about your experience with web technologies and programming in general.</p>
<h1>
  Our Team
</h1>
    <ol>
      <li>Sophie Richards '20, Project Manager</li>
      <li>Brad Bain '20, Lead Developer</li>
      <li>McKenna Barlow '20, Software Engineer</li>
      <li>Justin Lee '19, Software Engineer</li>
    </ol>
</div>
