<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
        Student, Faculty, and Alumni Committees
      </h1>
    </div>
  </div>
</section>

<br/>

<div class="container">
  <div class="content committee-content">
    <h1>Student Chaired Committee Members</h1>
    <h2>Coop Committee (Voting)</h2>
    <ol>
      <li>Carlos Hernandez</li>
    </ol>
    <h2>Student Faculty Interaction Committee</h2>
    <ol>
      <li>Lemuel Lan</li>
      <li>Jawuan Walters</li>
      <li>James Psomas</li>
      <li>Alejandro Guerrero</li>
      <li>Amy Best</li>
    </ol>
    <h2>Clubs & Organizations Committee</h2>
    <ol>
      <li>Emilio Araujo</li>
      <li>Efrain Gonzales</li>
    </ol>
    <h2>Senior Class Committee</h2>
    <ol>
      <li>David Cremins</li>
      <li>Nyia Hamilton</li>
      <li>Jonelle Gonzalez</li>
      <li>Adam Starr</li>
    </ol>
    <h2>Sophomore Class Committee</h2>
    <ol>
      <li>Crystal Huang</li>
      <li>Daniel Park</li>
      <li>Glen Williams</li>
      <li>Jane Kim</li>
      <li>Noor Dhingra</li>
      <li>Rebecca Salaway</li>
      <li>Rachel Oda</li>
      <li>Shiv Pandya</li>
      <li>Sreymich Lach</li>
    </ol>
    <h2>Environmental Quality Committee</h2>
    <ol>
      <li>Chloe An (Chair)</li>
      <li>Eileen Ahn</li>
      <li>Derry Li</li>
      <li>Agnes Mok</li>
      <li>Renee Susanto</li>
      <li>Chilinh Rosen</li>
      <li>Ise Sharp</li>
      <li>Abby Lewis</li>
    </ol>
    <h2>Academic Affairs Committee</h2>
    <ol>
      <li>Paige Pepitone</li>
      <li>Christina Eshak</li>
      <li>Catherine Birmingham Corbett</li>
      <li>Aparna Chintapalli</li>
      <li>Cheryl Yau</li>
      <li>Adrian Hui</li>
      <li>Diego Vergara</li>
      <li>Louis Wallen</li>
      <li>Cam Bacca</li>
    </ol>
    <h2>Reserves Investment Oversight Committee</h2>
    <ol>
      <li>Audrey Jang (Advising)</li>
      <li>Tianyuan Cai (Voting)</li>
      <li>Ayza Ishaq (Voting)</li>
      <li>Charles Barnes</li>
    </ol>
    <h2>Residence Hall Committee</h2>
    <ol>
      <li>Rachel Oda</li>
      <li>Alejandro Vazquez Martinez</li>
      <li>Renee Susanto</li>
      <li>Efrain Gonzales</li>
      <li>Jasmin Villasenor Garcia</li>
      <li>David Song</li>
    </ol>
    <h2>Campus Sports Committee</h2>
    <ol>
      <li>David Song</li>
    </ol>
  </br>
    <hr>
    </br>
    <h1>Faculty and Alumni Committee Members</h1>
    <h2>Faculty Position Advisory Committee</h2>
    <ol>
      <li>Carlos Hernandez</li>
      <li>Allie Pitchon</li>
    </ol>
    <h2>Curriculum Committee</h2>
    <ol>
      <li>Jordan Wong</li>
      <li>Harry Choi</li>
    </ol>
    <h2>Study Abroad Committee</h2>
    <ol>
      <li>Zach Hauser</li>
      <li>Andrea Green</li>
    </ol>
    <h2>Portal Committee</h2>
    <ol>
      <li>Gloria Liou</li>
      <li>Jordan Wong</li>
    </ol>
    <h2>Academic Procedures Committee</h2>
    <ol>
      <li>Louis Wallen</li>
    </ol>
    <h2>Critical Thinking and Writing Committee</h2>
    <ol>
      <li>Pieter Hoekstra</li>
    </ol>
    <h2>Admissions and Financial Aid Committee</h2>
    <ol>
      <li>Alejandra Chavez</li>
      <li>Carly Grimes</li>
    </ol>
    <h2>Critical Thinking and Writing Committee</h2>
    <ol>
      <li>Feather Flores</li>
    </ol>
    <h2>Analyzing Differences Committee</h2>
    <ol>
      <li>Alison Choi</li>
    </ol>
    <h2>Presidential Advisory Committee on Diversity (PACD)</h2>
    <ol>
      <li>Johny Ek Aban</li>
    </ol>
  </div>
</div>


