<% content_for :header do %>
  <%= render 'components/page_header', :title => "Policies", :subtitle => "A resource list of ASPC's policies" %>
<% end %>

<br/>

<div class="container">
  <div class="content policies-content">
    <%= link_to 'Constitution', aspc_policies_constitution_path, :class => 'button is-primary is-large is-fullwidth'%>
    <br/>
    <%= link_to 'Bylaws', aspc_policies_bylaws_path, :class => 'button is-primary is-large is-fullwidth'%>
    <br/>
    <%= link_to 'Elections Code', aspc_policies_electionscode_path, :class => 'button is-primary is-large is-fullwidth'%>
  </div>
</div>