<% content_for :header do %>
  <%= render 'components/page_header', :title => "Elections Code" %>
<% end %>


<div class="content electionscode-content">
  <h1>ARTICLE I: Authority over Elections
  </h1>
  <h2>Section 1. Elections Commissioner
  </h2>
  <p>The Elections Commissioner shall supervise ASPC elections according to the rules and procedures specified in the
    ASPC Constitution, Bylaws, Elections Code, and rulings of the Senate. The Elections Commissioner shall schedule the
    dates of all elections and shall schedule meetings for all speeches. The Elections Commissioner shall be appointed
    by the Senate: the Fall Elections Commissioner shall be appointed by the end of the preceding spring semester, and
    the Spring Elections Commissioner shall be appointed at the beginning of that spring semester. The Elections
    Commissioner shall publicize all pertinent information about elections. After the elections period, the Elections
    Commissioner shall submit to Senate a summary of all preparations made, unofficial disputes and resolutions, and
    recommendations for changes to the election procedures. The Elections Commissioner shall receive compensation as
    determined by Senate and distributed by the Smith Campus Center. In the absence of an Elections Commissioner, the
    current ASPC President will assume this role.
  <p/>
  <h2>Section 2. Elections Committee
  </h2>
  <p>The Elections Commissioner shall be assisted in all their duties by an Elections Committee. During the elections
    period, the Elections Committee shall have authority over the conduct of ASPC elections. The Elections Committee
    shall consist of the Elections Commissioner, ASPC President, and the Director of the Smith Campus Center. The
    committee may also include other Senate members who are not currently up for election; it is recommended but not
    required that the Vice Presidents be included. All decisions made by the Election Committee may be appealed to the
    Senate and must be ruled on during the elections period. All current Senate members who are up for election are to
    be excluded from the election’s procedural decisions.
  </p>
  <h1>ARTICLE II: Eligibility
  </h1>
  <h2>Section 1. Eligibility
  </h2>
  <p>All registered students of Pomona College shall be members of the Associated Students of Pomona College and shall
    be eligible to vote and hold office. A candidate must meet the requirements of the office they seek, as specified in
    the ASPC Constitution. Students who are not currently registered but have previously enrolled at Pomona College and
    intend to enroll for a full year may seek office in the spring elections.
  </p>
  <h2>Section 2. Disqualification
  </h2>
  <p>Any candidate who violates any section of this code shall be subject to disqualification by the Elections
    Committee.
  </p>
  <h2>
    Section 3. Voting Eligibility
  </h2>
  <p>Residents of North Campus may not vote for South Campus Representative. Residents of South Campus may not vote for
    North Campus Representative. Students residing off campus are not eligible to vote for North or South Campus
    Representatives.
  </p>
  <h1>ARTICLE III: Candidates
  </h1>
  <h2>Section 1. Candidacy</h2>
  <p>The Elections Commissioner shall post the rules governing the election in public view in the ASPC Office. All
    students shall be informed of eligibility requirements and of the sign-up period timeline by a “Student Information”
    email sent by the Elections Commissioner. This email may not be sent any later than the first day sign-ups open.
    Each candidate must file their intention to seek office on an ASPC form during the sign-up period. The sign-up form
    shall include the following statement: "If I am elected to the office that I am seeking, I intend to serve the
    entire term unless I am subsequently elected to another ASPC position. I will not apply to any semester away
    programs and will withdraw any applications I have previously submitted." Each candidate must be aware of all rules
    governing the election, and each is responsible for their actions. No candidate may run for more than one office in
    a single election.
  </p>
  <h2>Section 2. Write-in Candidates
  </h2>
  <p>A write-in candidate must meet all of the eligibility requirements of the office. Write-in candidates must conform
    to all areas of the Elections Code in the same way as an official candidate. To be a write-in candidate, a student
    must notify the Elections Commissioner of their intent to run as a write-in candidate by 11:59pm PT the day before
    polling begins (so for example, if polling begins at 8:00pm PT on Sunday, June 10, the Elections Commissioner must
    be notified by 11:59pm PT on Saturday, June 9). Only write-in candidates who have notified the Elections
    Commissioner will have votes counted in the election. Write-in candidates may not submit a candidate statement to be
    sent in a “Student Information” email nor may they speak at the Candidates’ Forum. Write-in candidates are allowed
    to and encouraged to host campaigning events. Write-in candidates may not be listed on the ballot. However, ballots
    will include spaces for the number of write-in candidates that have notified the Elections Supervisor pursuant to
    Article III, Section 2b. Any write-in candidate who qualifies for a run-off election will be considered an official
    balloted candidate for the run-off election. In any election, a write-in candidate must receive at least ten ballot
    preferences to be eligible to win.
  </p>
  <h1>ARTICLE IV: Campaign
  </h1>
  <h2>Section 1. Campaigning Guidelines
  </h2>
  <p>“Campaigning" shall herein be defined as promoting oneself as a candidate in the election. For a candidate who has
    filed for office, the campaigning period shall begin after attending a mandatory pre-election candidate meeting, at
    which the candidate shall be informed of the rules and regulations governing the election. If the candidate cannot
    attend this meeting, they must contact the Elections Commissioner within 24 hours of the candidate meeting. The
    candidate may not begin to campaign before meeting with the Elections Commissioner. The campaign period extends
    through the election; however, candidates are not allowed to address voters while they are voting and cannot
    campaign in the dining halls during the election.
  </p>
  <h2>Section 2. Timeline
  </h2>
  <p>All times and deadlines posted by the Elections Commissioner in relation to the elections timeline are to be in
    Pacific Time, unless otherwise noted. The sign-up period must last at least one full week before the mandatory
    pre-election candidate meeting. The Elections Commissioner shall host an informational meeting for all interested
    students to answer any questions about the sign-up or elections process. This informational meeting shall occur
    within the sign-up period. The mandatory pre-election candidate meeting shall be held the evening of the last day of
    the sign-up period. “Pomona-scheduled events” shall herein be defined as any classes scheduled within the Pomona
    academic class schedule, as well as any sports practices within the 4:00-6:00pm “blackout period” on weekdays. The
    informational meeting for interested candidates and mandatory pre-election candidate meeting may not be scheduled to
    conflict with any Pomona-scheduled events, as to be accessible to all students. All regular elections may not last
    longer than two weeks from start to finish (the opening of the campaigning period to the last day of elections).
    This timeframe does not include a run-off period, if such is necessary.
  </p>
  <h2>Section 3. Campaign Materials ##
  </h2>
  <p>Campaign materials must conform to the rules of the premises and the ASPC Publicity Guidelines. All election
    materials posted by or for any candidate for ASPC office shall legibly specify the date, time, and location of the
    Candidates' Forum and the election. Materials posted after the Candidates’ Forum may omit the information on the
    forum, but must include information on the election. Candidates are limited to 15 posters each. For environmental
    reasons, and because in the past flyers have remained up for weeks after elections results were announced,
    candidates may not use mass-produced flyers for their campaigns. However, candidates may still use posters made in
    the ASPC poster lab. Candidates are encouraged to use alternative advertising methods and be aware of the
    environmental impact of their campaign. Mailboxes may not be stuffed unless each item is individually addressed. All
    candidates must remove their campaign materials by midnight of the day that final election results are announced.
    The Elections Commissioner or elections committee members may confiscate any materials in violation of this code.
    Any flagrant violation would render the candidate subject to disqualification.
  </p>
  <h2>Section 4. Candidates’ Forum and Events ##
  </h2>
  <p>“Forum” shall herein be defined as a meeting open to all interested voters where candidate(s) may share ideas and
    views on various issues under the guidance of a mediator (the Elections Commissioner). Such a forum may, but is not
    required to, include an open question and answer segment. “Campaigning event” shall herein be defined as a meeting
    open to all interested voters where the hosting candidate(s) may invite voters to meet with the candidate(s). Such a
    campaigning event must be held in a public space accessible to all voters. The Elections Commissioner shall hold at
    least one forum for all interested candidates and voters before polls open, herein known as the Candidates’ Forum.
    The time and place for all such meeting(s) shall be designated at least one week in advance by the Elections
    Commissioner and announced at the pre-election candidate meeting. Candidates are expected, but not required, to
    participate in the forum. The Elections Commissioner may also hold forums specific for a particular office, should
    all candidates for that position be interested in such a forum. Candidates are encouraged to publicize and host
    campaigning events. Any candidate who wishes to hold a campaigning event must obtain prior approval from the
    Elections Commissioner.
  </p>
  <h2>Section 5. Social Media
  </h2>
  <p>The Elections Commissioner shall send out one “Student Information” email with a candidate statement from all
    candidates that submit one by the set deadline the Friday before the Candidates’ Forum. Candidates who do not submit
    a statement by the deadline set by the Elections Commissioner may not send a separate “Student Information” email.
    “Chirps” messages of any kind are not permitted by candidates or others on behalf of the candidates. “Online
    campaign material” shall herein be defined as any language posted on the internet promoting the candidate, whether
    posted by the candidate or by others on their behalf. “Campaign group” shall herein be defined as a public group on
    social media where the candidate is encouraging students to vote for them. Candidates who utilize social networking
    websites (such as Facebook, Instagram, etc.) must be the sole administrator of a campaign group. It is the
    responsibility of the candidate to ensure that only one such group is created for their campaign on each social
    networking website. To consolidate voter turnout efforts, only one, neutral Facebook event shall be created by the
    Elections Commissioner to advertise the polling period. Candidates are encouraged to invite voters to this event,
    however, candidates are not allowed to post any online campaign material on the polling period event page.
    Candidates may create separate Facebook events to advertise their own campaigning events. All such event pages must
    include information for how students can vote. The Elections Commissioner shall be informed of and/or be a member of
    all forms of online campaigning (Facebook group, Facebook event for a campaigning event, blogs, etc) to allow for
    monitoring of online campaign materials. The Elections Commissioner or elections committee members have the
    authority to request any online campaign material in violation of this code to be taken down. Any flagrant violation
    would render the candidate subject to disqualification.
  </p>
  <h2>Section 6. Endorsements
  </h2>
  <p>Endorsements of candidates by current or previous ASPC senators are permitted, excluding any members of the current
    election cycle’s Election Committee. Any current ASPC senator who chooses to endorse a candidate also excludes
    themselves from any procedural decisions regarding the race they endorsed a candidate in.
  </p>
  <h2>Section 7. Financing
  </h2>
  <p>No more than $15 shall be spent for half-campus campaigns and $20 spent for full-campus campaigns, regardless of
    the source. An additional $5 may be spent on run-off campaigns. No candidate’s campaign shall receive financial
    support from any club or organization that receives ASPC funding. All candidates must turn in a list of
    expenditures, both purchased by the candidate or donated to the candidate, to the Elections Commissioner by 5pm the
    day after election results are posted. All receipts must be attached to this list. After presenting their receipts,
    candidates will be reimbursed for their campaign expenses by ASPC.
  </p>
  <h2>Section 8. Disability Accommodations
  </h2>
  <p>The Elections Commissioner shall be made available to make any arrangements necessary for any candidate who may
    need disability accommodations, as long as the Elections Commissioner is notified by the mandatory pre-election
    candidate meeting.
  </p>
  <h1>ARTICLE V: Elections
  </h1>
  <h2>Section 1. Ballots
  </h2>
  <p>Internet ballots shall be prepared by the Elections Commissioner and the ASPC Digital Media Programming Group.
    Ballots shall list all candidates by office, with spaces for write-ins when applicable. The order in which names are
    listed on the ballot will appear randomized upon each generation of the ballot, ensuring that no one candidate
    receives the advantage of appearing first on the ballot. No additional designations (e.g. race, gender, or class)
    shall be included. Candidates will be listed on the ballot as their full legal name unless otherwise indicated –
    requests for name changes must be approved by the Elections Committee.
  </p>
  <h2>Section 2. Polling
  </h2>
  <p>The polling shall be carried out by the Elections Commissioner. Each voter may cast one ballot for each eligible
    position. In order for a ballot to be valid, it must have a first preference listed. Polling shall be conducted
    online. Ballots will open an hour after the candidates’ forum and end two days later at 12:47pm (for example, voting
    opens at 8:00pm on Sunday evening and closes Tuesday afternoon at 12:47pm). The Elections Commissioner shall ensure
    that there is a functional computer available in both Frank and Frary. These computers shall serve as voting
    stations during lunch and dinner. They shall be available and staffed for the entirety of each meal. There shall be
    no proxy voting. Students currently enrolled but not currently studying on campus shall be contacted via email to
    inform them of their right to vote in campus-wide and class-specific ASPC elections (e.g. Senior Class President) at
    least one week prior to elections.
  </p>
  <h2>Section 3. Winning
  </h2>
  <p>If a candidate receives the majority of first-preference votes, they will be elected. If no candidate receives a
    majority of first-preference votes, instant runoff (IRV) shall proceed in rounds until a single candidate receives
    the majority. In IRV, the candidate with the least first-preference votes is eliminated in each round, and those
    ballots are redistributed to the next highest preference listed. Each ballot shall be counted as one vote for the
    continuing candidate listed as the highest preference in each round. If a tie still occurs after IRV, run-off
    elections shall proceed as indicated in Article VI.
  </p>
  <h1>ARTICLE VI: Election Results
  </h1>
  <h2>Section 1. Results
  </h2>
  <p>Votes shall be counted and results determined according to the above rules, and this shall be done by the Elections
    Committee. The Elections Committee shall notify each candidate of the results of their race by phone or in person
    immediately upon the completion of counting. At that time the candidate may request the tabulated results of the
    election in which they ran.
  </p>
  <h2>Section 2. Run-offs
  </h2>
  <p>Run-offs shall be held on the second weekday after the preceding election. Weekday nights are defined as Monday,
    Tuesday, Wednesday, and Thursday nights. The Elections Supervisor Commissioner may hold a meeting for run-off
    candidates on the evening after initial results are announced. Run-off candidates shall be allowed to campaign from
    the time after the election results from the prior election are posted until online run-off voting begins. In a
    run-off, the Elections Supervisor may choose to set up a computer in a single dining hall at their discretion if the
    position(s) contested applies to only a certain portion of the student body.
  </p>
  <h2>Section 3. Complaints
  </h2>
  <p>Complaints may be filed by any candidate on grounds of a violation of the elections rules, a miscount of ballots,
    or any other questionable practice, provided that the candidate is directly involved in the complaint. Complaints
    must be submitted in writing to the Elections Committee during the campaign period up until 24 hours after posting
    the results. The Elections Committee shall rule on all complaints within 48 hours of receiving them and notify the
    Senate of all actions. Candidates may appeal decisions of the Elections Committee to the Senate. All
    disqualifications are automatically appealed. Appeals must be submitted in writing to the ASPC President within 24
    hours of receipt of the ruling of the Elections Committee. The Senate shall rule on the appeal, by majority vote,
    within 48 hours of receipt of the appeal.
  </p>
  <h3>Revised 9/98
  </h3>
  <h3>Revised 11/99
  </h3>
  <h3>Revised 10/10/00
  </h3>
  <h3>Revised 04/23/02
  </h3>
  <h3>Revised 10/13/02
  </h3>
  <h3>Revised 3/22/05
  </h3>
  <h3>Revised 11/11/05
  </h3>
  <h3>Revised 11/20/06
  </h3>
  <h3>Revised March 2007
  </h3>
  <h3>Revised May 2010
  </h3>
  <h3>Revised September 6, 2010
  </h3>
  <h3>Revised September 12, 2011
  </h3>
  <h3>Revised September 27, 2011
  </h3>
  <h3>Revised September 2, 2016
  </h3>
  <h3>Revised December 2, 2016</h3>
</div>
