<% content_for :header do %>
  <%= render 'components/page_header', :title => "Staff" %>
<% end %>

<div class="content staff-content">
  <h1>ASPC Staff</h1>
  <hr/>
  <div class="content senator-position-content">
    <h2 class="senator-name">Audrey Jang</h2>
    <h5 class="senator-position">Chief of Staff</h5>
    <h5 class="senator-email">chiefofstaff@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Elvis Kaharo</h2>
    <h5 class="senator-position">Student Affairs</h5>
    <h5 class="senator-email">botstudentaffairs@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Ji Min Hwang</h2>
    <h5 class="senator-position">Disability Advocacy</h5>
    <h5 class="senator-email">disabilityadvocacy@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Juliet Garner</h2>
    <h5 class="senator-position">Mental Health</h5>
    <h5 class="senator-email">mentalhealth@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Julian Villasenor</h2>
    <h5 class="senator-position">Public Relations</h5>
    <h5 class="senator-email">publicrelations@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Alfredo Reyes-Guzman</h2>
    <h5 class="senator-position">Secretary</h5>
    <h5 class="senator-email">secretary@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Israel Diaz Garcia</h2>
  </div>


  <h1>Board of Trustees Representatives</h1>
  <hr/>
  <div class="content senator-position-content">
    <h2 class="senator-name">Elvis Kaharo</h2>
    <h5 class="senator-position">Student Affairs</h5>
    <h5 class="senator-email">botstudentaffairs@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Bradley Druzunsky</h2>
    <h5 class="senator-position">Finance</h5>
    <h5 class="senator-email">botfinance@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Soleil Ball Van Zee</h2>
    <h5 class="senator-position">Academic Affairs</h5>
    <h5 class="senator-email">botacademic@aspc.pomona.edu</h5>
  </div>
  <div class="content senator-position-content">
    <h2 class="senator-name">Laura Zhang </h2>
    <h5 class="senator-position">Advancement</h5>
    <h5 class="senator-email">botadvancement@aspc.pomona.edu</h5>
  </div>


</div>