<% content_for :header do %>
  <%= render 'components/page_header', :title => "Committee Members" %>
<% end %>


<div class="content committee-content">
  <h2>Coop Committee</h2>
  <ol>
    <li>Johny Ek Aban (Voting, Chair)</li>
    <li>Diana A Rodriguez (Advisory Member)</li>
    <li>Alex Collado (Advisory Member)</li>
  </ol>
  <h2>Clubs & Organizations Committee</h2>
  <ol>
    <li>Hans Zhou (Chair)</li>
    <li>Jia Wu</li>
    <li>Shari Evangelista</li>
  </ol>
  <h2>Student-Faculty Interaction Committee</h2>
  <ol>
    <li>Lauren Schoen</li>
    <li>Isabelle Cheng</li>
  </ol>

  <h2>Senior Class Committee</h2>
  <ol>
    <li>Pulkit Bansal</li>
    <li>Alice Tan</li>
    <li>Olivia Whitener</li>
    <li>Chris Wright</li>
    <li>Casey Goodwin</li>
    <li>Chris Wright</li>
    <li>Rosalind Faulkner</li>

  </ol>
  <h2>Junior Class Committee</h2>
  <ol>
    <li>Lem Lan</li>
  </ol>
  <h2>Sophomore Class Committee</h2>
  <h2>First Year Class Committee</h2>
  <h2>Environmental Quality Committee</h2>
  <ol>
    <li>Kirara Tsutsui</li>
    <li>Corinne Tsai</li>
    <li>Derry Li</li>
    <li>Anam Mehta</li>
    <li>Pulkit Bansal</li>
    <li>Izzy Wiesenthal</li>
    <li>Ise Sharp</li>
    <li>Israel Teru</li>
  </ol>
  <h2>External Affairs Committee</h2>
  <ol>
    <li>Geraldine Castaneda Barranco</li>
    <li>Hermo Quispe</li>
    <li>Julián Villaseñor</li>
  </ol>
  <h2>Academic Affairs Committee</h2>
  <ol>
    <li>Janelle Herring</li>
  </ol>
  <h2>Residence Hall Committee</h2>
  <ol>
    <li>Daniel Pi</li>

  </ol>
  <h2>Campus Sports Committee</h2>
  <ol>
    <li>Winston Nelson</li>
  </ol>

  <h2>Faculty Position Advisory Committee</h2>
  <ol>
    <li>Natalie McDonald</li>
    <li>Sarthak Mani Sharma</li>
  </ol>
  <h2>Curriculum Committee</h2>
  <ol>
    <li>Meredith Simpson</li>

  </ol>
  <h2>Study Abroad Committee</h2>
  <ol>
    <li>Meredith Simpson</li>
  </ol>
  <h2>Academic Procedures Committee</h2>
  <ol>
    <li>James Psomas</li>
    <li>Angela Tran</li>
  </ol>
  <h2>Critical Thinking and Writing Committee</h2>
  <ol>
    <li>Maï Diarra</li>
  </ol>
  <h2>Admissions and Financial Aid Committee</h2>
  <ol>
    <li>José Magaña</li>
    <li>Israel Teru</li>
  </ol>
  <h2>Committee on Campus Climate and Diversity</h2>
  <ol>
    <li>Christian Clark</li>
    <li>Ivy Yuan</li>
    <li>Vanessa Dalpiaz</li>
    <li>Gabriel Abdellatif</li>
  </ol>
  <h2>Presidential Advisory Committee on Diversity (PACD)</h2>
  <ol>
    <li>Brady Huang</li>
    <li>Alfredo Reyes-Guzman</li>
  </ol>
  <h2>ITS Advising Committee</h2>
  <ol>
    <li>Alex Ker</li>
  </ol>
  <h2>Food Committee</h2>
  <ol>
    <li>Daniel Pi</li>
  </ol>
  <h2>Residence Hall Committee</h2>
  <ol>
    <li>Daniel Pi</li>
  </ol>
</div>

