<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
        Pomona Events Committee
      </h1>
    </div>
  </div>
</section>

<br/>

<div class="container">
  <div class="content staff-content">
    <h1>**POSITION NAME**"</h1>
    <ol>
      <li>**STAFF MEMBER 1 NAME**</li>
      <li>**STAFF MEMBER 2 NAME**</li>
      <li>**ETC...**</li>
    </ol>
    <h1>**POSITION NAME 2**</h1>
    <ol>
      <li></li>
    </ol>
    <h1></h1>
    <ol>
      <li></li>
    </ol>
  </div>
</div>