<% content_for :header do %>
    <%= render 'components/page_header', :title => "Internship & Career Opportunities Database" %>
  <% end %>
  
  <p class="margin-bottom-2">
    ASPC is crowdsourcing a database of career opportunities by and for the Pomona community. The goals of this project are 1) to spotlight opportunities that are suitable for Pomona students but potentially obscure, and 2) to help students apply to these organizations by facilitating connections with students and alumni who are current or former employees. This resource should supplement the other job search engines and career planning tools at your disposal, such as Handshake and SagePost47. Feel free to contact <a href="mailto:operations@aspc.pomona.edu">operations@aspc.pomona.edu</a> with any questions.
  </p>
  
  <div class="columns">
    <div class="column">
      <div class="box equal-height-column">
        <h4 class="title is-4 margin-bottom-1">Add a New Listing</h4>
        <p class="margin-bottom-2">
            Please complete the form below to share organizations that have been vital to your own career development. All types of career opportunities are welcome: jobs, internships, research positions, development programs, publishing opportunities, etc. Your submission will feed into a database of career opportunities open to all students and alumni. If you choose to provide contact information, other Pomona students may reach out to you about your submission. If you are a SagePost47 mentor, you can indicate on the form that students may reach you via SagePost47. Thank you for your contribution! 
        </p>
        <div class="align-bottom">
          <a class="button is-info is-outlined" target="_blank" href="https://tinyurl.com/aspc-opportunity-form  ">Add Listing</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box equal-height-column">
        <h4 class="title is-4 margin-bottom-1">Add a New Listing</h4>
        <p class="margin-bottom-2">
          Click on the button below to view the crowdsourced database. Use the Filter and Sort commands at the top bar to search for opportunities, and click a card to view additional details. If you are interested in a company/position, check if the individual who posted about it is willing to connect and has provided their contact info.
        </p>
        <div class="align-bottom">
          <a class="button is-info is-outlined" target="_blank" href="https://airtable.com/shraLJmd1siry0XFk">Current Listings</a>
        </div>
      </div>
    </div>
  </div>  