<% content_for :header do %>
  <%= render 'components/page_header', :title => "Pomona Student Liaisons 2020-21" %>
<% end %>

<div class="columns">
<div class="column">
  <h4 class="title is-4 margin-bottom-1">Anthropology</h4>
  <p class="margin-bottom-2">
          Devon Baker &apos;22<br> 
          Aleja Hertzler-McCain &apos;21<br> 
          Tony Jin &apos;22<br> 
          Natalie Raver-Goldsby &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Art History</h4>
  <p class="margin-bottom-2">
          Amy Best &apos;21<br> 
          Annamarie Wire &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Asian Languages &amp; Literatures</h4>
  <p class="margin-bottom-2">
      Katya Pollock &apos;21<br> 
      Ava Tiller &apos;23<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Asian American Studies</h4>
  <p class="margin-bottom-2">
          Nicah Vhin Driza &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Asian Studies</h4>
  <p class="margin-bottom-2">
          David Yu &apos;21<br> 
          DJ Wright &apos;22<br> 
          Mark Diaz &apos;22<br> 
          Natasha Wong CM &apos;22<br>  
          Sushmith Kulkarni PO &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Biology</h4>
  <p class="margin-bottom-2">
          Jonathan Contreras &apos;21<br> 
          Sofia Dartnell &apos;22<br> 
          Tessa Fujisaki &apos;21<br> 
          Calvin Ng &apos;22<br> 
          Cody Pham &apos;22<br> 
          Yamile Sandoval &apos;21<br> 
          Hayden Snyder &apos;23<br> 
          Emma Van der Veen &apos;21<br> 
          Heidi Xu &apos;23<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Chemistry</h4>
  <p class="margin-bottom-2">
          Bukuru Anaclet &apos;21<br> 
          Martin Acosta Parra &apos;20<br> 
          Sabrina Carneiro &apos;21<br> 
          Immacula Celestin &apos;21<br> 
          Love Chery &apos;20<br> 
          Katrina Dank &apos;20<br> 
          Rachel Hall &apos;22<br> 
          Kate Shimamoto &apos;22<br> 
          Juste Simanauskaite &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Chinese</h4>
  <p class="margin-bottom-2">
          Katya Pollock &apos;21<br> 
          Ava Tiller &apos;23<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Classics &amp; Late Antique-Medieval Studies</h4>
  <p class="margin-bottom-2">
          Liam MacDonald &apos;22<br> 
          Kate Shimamoto &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Computer Science</h4>
  <p class="margin-bottom-2">
          Derry Li &apos;21<br> 
          Jordan Mejia &apos;22<br> 
          Ruben Pacheco Caldera &apos;21<br> 
          Victoria Thai &apos;22<br> 
          Gabriel Konar-Steenberg &apos;23<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Economics</h4>
  <p class="margin-bottom-2">
          Patricia Calderon &apos;21<br> 
          Bryan Diangson &apos;21<br> 
          Payal Kachru &apos;21<br> 
          Harry Lu &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">English</h4>
  <p class="margin-bottom-2">
          Layla Elqutami &apos;22<br> 
          Ahana Ganguly &apos;21<br> 
          Victor Solorzano-Gringeri &apos;21<br> 
          Ethan Widlansky &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">French</h4>
  <p class="margin-bottom-2">
          Olivia Leu &apos;23<br> 
          Kofi Osei-Opara &apos;23<br> 
          Emily Petro &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Gender &amp; Women&apos;s Studies</h4>
  <p class="margin-bottom-2">
          Haley Parsley &apos;21<br> 
          Ja&apos;Nea James &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Geology</h4>
  <p class="margin-bottom-2">
          Susannah Budd &apos;22<br> 
          Daphne 
  </p>
  <h4 class="title is-4 margin-bottom-1">German Studies</h4>
  <p class="margin-bottom-2">
          Michael He &apos;22<br> 
          Emma Paulini &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">History</h4>
  <p class="margin-bottom-2">
          Lindsay Chu &apos;21<br> 
          Jacob Noh &apos;21<br> 
          Ruby Simon &apos;22<br> 
          Elyssa Wolf &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">International Relations</h4>
  <p class="margin-bottom-2">
  Xander Bartone &apos;21<br> 
  Sam Bither &apos;21<br> 
  Emily Christopher &apos;21<br> 
  Calla Li &apos;22<br> 
  Marina Peñéñory &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Japanese</h4>
  <p class="margin-bottom-2">
          Andrew Seay &apos;22<br>
          Carlos Furukawa &apos;23<br>
          Caroline Kim &apos;23<br>
          Claire Cheng &apos;22<br>
          Louie Kulber &apos;23<br>
          Yuki Wang &apos;22<br>
  </p>
  <h4 class="title is-4 margin-bottom-1">Linguistics &amp; Cognitive Science</h4>
  <p class="margin-bottom-2">
          Ladin Boluk &apos;21<br> 
          Derrick Nguyen &apos;22<br> 
          Evelyn Teselle &apos;22<br> 
          Adelaide Wendel &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Mathematics</h4>
  <p class="margin-bottom-2">
          Sabina Kou &apos;21<br> 
          Salih Erdal &apos;22<br> 
          Tanvi Jhunjhunwala &apos;22<br> 
          Ra-Zakee Muhammad &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Media Studies</h4>
  <p class="margin-bottom-2">
          Ebere Amadi-Azuogu &apos;22<br> 
          Glen Skahill &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Molecular Biology</h4>
  <p class="margin-bottom-2">
          Martha Castro &apos;21<br> 
          Dolores Fritzsche &apos;22<br> 
          Mira May &apos;21<br> 
          Faith Mbadugha &apos;21<br> 
          Shaheed Muhammad &apos;21<br> 
          Binh Nguyen &apos;22<br> 
          Kofi Osei-Opare &apos;22<br> 
          Sayde Perry &apos;22<br> 
          Alana Weiss &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Music</h4>
  <p class="margin-bottom-2">
          Shaheed Muhammad &apos;21<br>
          Anna Sipowicz &apos;22<br>
          Nam Do &apos;23<br>
          Megan Chang &apos;23<br>
  </p>
  <h4 class="title is-4 margin-bottom-1">Neuroscience</h4>
  <p class="margin-bottom-2">
          Eileen Ahn &apos;21<br> 
          Tiffany Chen &apos;21<br> 
          Eric Garcia &apos;21<br> 
          Jessica Kuo &apos;22<br> 
          Christine Lin &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Philosophy</h4>
  <p class="margin-bottom-2">
          Andy Han &apos;22<br> 
          Jenna Lange &apos;22<br> 
          Brandon Peevy &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Philosophy, Politics &amp; Economics</h4>
  <p class="margin-bottom-2">
          Agnes Mok &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Physical Education</h4>
  <p class="margin-bottom-2">
          Commissioner of Athletics Vaish Siddapureddy &apos;22<br>  
  </p>
  <h4 class="title is-4 margin-bottom-1">Physics &amp; Astronomy</h4>
  <p class="margin-bottom-2">
          Vera Berger &apos;23<br> 
          Haidee Clauer &apos;22<br> 
          Linnea Dahmen &apos;21<br> 
          Aman Desai &apos;21<br> 
          Christina Dong &apos;22<br> 
          Adam Dvorak &apos;21<br> 
          Paul McKinley &apos;22<br> 
          Camille Molas &apos;21<br> 
          Pei Qin &apos;22<br> 
          Scott Scharlach &apos;22<br> 
          Liliana Valle &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Politics</h4>
  <p class="margin-bottom-2">
          Aubrey Aust &apos;22<br> 
          Jacinta Chen &apos;21<br> 
          Musa Kamara &apos;22<br> 
          Hershey Suri &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Psychological Science</h4>
  <p class="margin-bottom-2">
          Cogie Celzo &apos;22<br> 
          Zane Chung-Medi &apos;21<br> 
          Ananya Saluja &apos;22<br> 
          Tanya Shah &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Public Policy Analysis</h4>
  <p class="margin-bottom-2">
          Geraldine Castaneda Barranco &apos;21<br> 
          Samuel Hernandez, Jr. &apos;22<br> 
          Kate Immergluck &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Religious Studies</h4>
  <p class="margin-bottom-2">
          Bhavana Bheem HM &apos;21<br> 
          Paul Mailhot-Singer &apos;21<br> 
          Renee Susanto &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Romance Languages &amp; Literatures</h4>
  <p class="margin-bottom-2">
          Olivia Leu &apos;23<br> 
          Kofi Osei-Opara &apos;23<br> 
          Emily Petro &apos;21<br> 
          Tony Jin &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Russian &amp; Eastern European Studies</h4>
  <p class="margin-bottom-2">
          Giacomo Ascenzi &apos;21<br> 
          Calla Li &apos;22<br> 
          Emma Kolesnik SC &apos;21<br> 
          Monica Wang PZ &apos;21<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Science, Technology &amp; Society</h4>
  <p class="margin-bottom-2">
          Hannah Shoemaker &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Sociology</h4>
  <p class="margin-bottom-2">
          Elise Kuechle &apos;21<br> 
          Lauren Rodriguez &apos;22<br> 
          Elease Willis &apos;22<br> 
          Lekha Amin &apos;22<br> 
  </p>
  <h4 class="title is-4 margin-bottom-1">Spanish</h4>
  <p class="margin-bottom-2">
          Tony Jin &apos;22<br> 
  </p>  
</div>
</div>