<% content_for :header do %>
  <%= render 'components/page_header', :title => "Coop Fountain", :subtitle => "" %>
<% end %>

<div class="content" id="coop-fountain">
  <div class="columns">
    <div class="column is-two-thirds">
      <p>
        Dining halls closed? Hungry after a long evening of studying? Come to the Coop Fountain, your student-managed
        and
        student-staffed on-campus restaurant! Try our daily specials, or get one of our classic Coop Meals to refuel. We
        even have take-out containers, for those times when you need to be somewhere ten minutes ago and don’t have time
        to eat!
      </p>
      <h3>Menu</h3>
      <a class="modal-open" data-target="coop-fountain-menu-one">
        <img src="../coop-fountain-menu-01.png" class="menu-rounded" alt="Coop Fountain Menu First Page" %>
      </a>
      <a class="modal-open" data-target="coop-fountain-menu-two">
        <img src="../coop-fountain-menu-02.png" class="menu-rounded" alt="Coop Fountain Menu Second Page" %>
      </a>
    </div>
    <div class="column">
      <section class="box">
        <h3>Location</h3>
        Smith Campus Center<br>
        170 East Sixth Street, Claremont, CA 91711
        <h3>Hours</h3>
        Monday-Thursday: 9:30am-5:00pm, 7:00pm-11:00pm<br>
        Friday: 9:30am-5:00pm, 7:00pm-1:00am<br>
        Saturday: 1:00pm-1:00am<br>
        Sunday: 1:00pm-11:00pm<br>
      </section>
    </div>
  </div>
</div>

<!-- Menu Modal #1 -->
<div class="modal" id="coop-fountain-menu-one">
  <div class="modal-background"></div>
  <div class="modal-content menu-content">
    <p class="image">
      <img src="../coop-fountain-menu-01.png" alt="Coop Fountain Menu First Page" %>
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- Menu Modal #2 -->
<div class="modal" id="coop-fountain-menu-two">
  <div class="modal-background"></div>
  <div class="modal-content menu-content">
    <p class="image">
      <img src="../coop-fountain-menu-02.png" alt="Coop Fountain Menu Second Page" %>
    </p>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>