<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
        Club Resources
      </h1>
    </div>
  </div>
</section>

<br/>

<div class="container">
  <div class="content clubs-content">
    <h1>How to do publicity on Pomona campus</h1>
    <p>Click <a href="tiny.cc/pomonaprguide"> HERE </a> to view a list of various ways to advertise your events, clubs, etc., on Pomona campus.</p>

  <h1>How to find funding sources at the Claremont Colleges</h1>
  <p>Click <a href="tiny.cc/5cfunding"> HERE</a> to learn how to request fundings for your events, clubs, conferences, etc., and view a list of funding sources (including student governments, administrations, offices, etc.) at the Claremont Colleges.</p>
<h1> How to transfer funds among student governments and clubs</h1>
    <p>Click <a href="tiny.cc/5cfinanceguide">HERE</a> to learn how to transfer funds among 5C student governments and clubs, and other useful information for treasurers of student governments or clubs.</p>
  <h1>How do the power structures at Pomona College work?</h1>
    <p>Click <a href="aspc.pomona.edu/media/senate/documents/2015/12/08/Demystiying_Power_Structures_at_Pomona_Presentation_2015.pdf">Demystiying Power Structures at Pomona Presentation</a> 2015 to view the PDF presentation that aims to demystiying power structures (administration, student government) at Pomona (put together by Rachel Jackson '15).</p>
  </div>
</div>