<% content_for :header do %>
  <%= render 'components/page_header', :title => "API", :subtitle => "A standardized way to access ASPC features." %>
<% end %>

<div class="content api-content">
  <h1>ASPC API</h1>
  <p>A standardized way to access ASPC features. Currently there are only APIs for the Menu and Courses.</p>
  <h2>Authentication Token</h2>
  <p>Your authentication token is: 7e6806264aa1455fba544ef4c42b48ffce108d9c</p>
  <p>Please use this authentication token to access all the endpoints below. You are limited to 1000 requests per day.
    Please contact digitalmedia@aspc.pomona.edu if you wish to raise the limit.</p>
  <h2>Example using cURL</h2>
  <pre>
      <code>
   curl -H "Authorization: Token 7e6806264aa1455fba544ef4c42b48ffce108d9c" https://aspc.pomona.edu/api/menu/
      </code></pre>
  <p>OR</p>
  <pre>
      <code>
  curl "https://aspc.pomona.edu/api/menu/?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h2>Example using JavaScript</h2>
  <pre>
      <code>
var auth_token = '7e6806264aa1455fba544ef4c42b48ffce108d9c',
api_endpoint = 'https://aspc.pomona.edu/api/menu/',
response = null;

// Requires jQuery
 $.ajax({
	url: api_endpoint,
	data: {auth_token: auth_token}
}).done(function (data) {
	response = data;
});

      </code>
    </pre>
  <h2>Example using Python</h2>
  <pre>
      <code>
import requests
import json

response = requests.get(
	'https://aspc.pomona.edu/api/menu/',
	params = {
		'auth_token': '7e6806264aa1455fba544ef4c42b48ffce108d9c'
	}
)

data = json.loads(response.text)
      </code>
    </pre>
  <h2>Menu Endpoints</h2>
  <h3>All Menus [/api/menu/]</h3>
  <p>Lists all menus</p>
  <h3>Example request (GET)</h3>
  <pre>
      <code>
curl "https://aspc.pomona.edu/api/menu/?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h3>Example response 200 (application/json)</h3>
  <pre>
      <code>
[
    {
        "day": "fri",
        "dining_hall": "cmc",
        "food_items": "[\"Breakfast Selections\", \"Scrambled Eggs\\nCheese & Bacon Eggs\\nTurkey Bacon & Sausage Patties\\nChorizo & Cheese Quesadilla\", \"Oatmeal & Grits\\nWaffles\\nHash Browns \\nCranberry & Apple Cinnamon Muffins\", \"Make Your Own Waffle Station\"]",
        "id": 11,
        "meal": "breakfast"
    },
    {
        "day": "fri",
        "dining_hall": "cmc",
        "food_items": "[\"Chocolate Chip Cookies\\nCinnamon Roll Cheesecake Cookies\\nPina Colada Bar\\nLemon Blueberry Pound Cake\", \"Red Velvet Cake\\nVegan Banana Cream Pie\\nMade Without Gluten Rochers\"]",
        "id": 13,
        "meal": "dessert"
    }, ...
]
      </code>
    </pre>
  <h3>Menus By Dining Hall [/api/menu/dining_hall/{dining_hall}/]</h3>
  <p>Lists all menus by a specific dining hall</p>
  <h4>Parameters</h4>
  <p>dining_hall (enum[string])</p>
  <p>Name of the Dining Hall</p>
  <p>Members</p>
  <ul>
    <li>frary</li>
    <li>frank</li>
    <li>oldenborg</li>
    <li>cmc</li>
    <li>scripps</li>
    <li>mudd</li>
    <li>cmc</li>
  </ul>
  <h4>Example request (GET)</h4>
  <pre>
      <code>
        curl "https://aspc.pomona.edu/api/menu/dining_hall/cmc?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
        [
    {
        "day": "fri",
        "dining_hall": "cmc",
        "food_items": "[\"Breakfast Selections\", \"Scrambled Eggs\\nCheese & Bacon Eggs\\nTurkey Bacon & Sausage Patties\\nChorizo & Cheese Quesadilla\", \"Oatmeal & Grits\\nWaffles\\nHash Browns \\nCranberry & Apple Cinnamon Muffins\", \"Make Your Own Waffle Station\"]",
        "id": 11,
        "meal": "breakfast"
    },
    {
        "day": "fri",
        "dining_hall": "cmc",
        "food_items": "[\"Chocolate Chip Cookies\\nCinnamon Roll Cheesecake Cookies\\nPina Colada Bar\\nLemon Blueberry Pound Cake\", \"Red Velvet Cake\\nVegan Banana Cream Pie\\nMade Without Gluten Rochers\"]",
        "id": 13,
        "meal": "dessert"
    }, ...
]
      </code>
    </pre>
  <h3>Menus By Day [/api/menu/day/{day}/]</h3>
  <p>Lists all menus by a specific day of the week</p>
  <h4>Parameters</h4>
  <p>day (enum[string])</p>
  <p>Name of the day of the week</p>
  <p>Members</p>
  <ul>
    <li>mon</li>
    <li>tue</li>
    <li>wed</li>
    <li>thu</li>
    <li>fri</li>
    <li>sat</li>
    <li>sun</li>
  </ul>
  <h4>Example request (GET)</h4>
  <pre>
      <code>
        curl "https://aspc.pomona.edu/api/menu/day/fri?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
[
    {
        "day": "fri",
        "dining_hall": "cmc",
        "food_items": "[\"Breakfast Selections\", \"Scrambled Eggs\\nCheese & Bacon Eggs\\nTurkey Bacon & Sausage Patties\\nChorizo & Cheese Quesadilla\", \"Oatmeal & Grits\\nWaffles\\nHash Browns \\nCranberry & Apple Cinnamon Muffins\", \"Make Your Own Waffle Station\"]",
        "id": 11,
        "meal": "breakfast"
    },
    {
        "day": "fri",
        "dining_hall": "cmc",
        "food_items": "[\"Chocolate Chip Cookies\\nCinnamon Roll Cheesecake Cookies\\nPina Colada Bar\\nLemon Blueberry Pound Cake\", \"Red Velvet Cake\\nVegan Banana Cream Pie\\nMade Without Gluten Rochers\"]",
        "id": 13,
        "meal": "dessert"
    }, ...
]
      </code>
    </pre>
  <h3>Menus By Dining Hall and Day [/api/menu/dining_hall/{dining_hall}/day/{day}/]</h3>
  <p>Lists all menus by dining hall and a specific day of the week</p>
  <h4>Parameters</h4>
  <p>dining_hall (enum[string])</p>
  <p> Name of Dining Hall</p>
  <p>Members</p>
  <ul>
    <li>frary</li>
    <li>frank</li>
    <li>oldenborg</li>
    <li>cmc</li>
    <li>scripps</li>
    <li>mudd</li>
    <li>cmc</li>
  </ul>
  <p>day (enum[string])</p>
  <p>Name of the day of the week</p>
  <p>Members</p>
  <ul>
    <li>mon</li>
    <li>tue</li>
    <li>wed</li>
    <li>thu</li>
    <li>fri</li>
    <li>sat</li>
    <li>sun</li>
  </ul>
  <h4>Example request (GET)</h4>
  <pre>
      <code>
        curl "https://aspc.pomona.edu/api/menu/dining_hall/cmc/day/fri?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
[
    {
        "day": "fri",
        "dining_hall": "cmc",
        "food_items": "[\"Breakfast Selections\", \"Scrambled Eggs\\nCheese & Bacon Eggs\\nTurkey Bacon & Sausage Patties\\nChorizo & Cheese Quesadilla\", \"Oatmeal & Grits\\nWaffles\\nHash Browns \\nCranberry & Apple Cinnamon Muffins\", \"Make Your Own Waffle Station\"]",
        "id": 11,
        "meal": "breakfast"
    },
    {
        "day": "fri",
        "dining_hall": "cmc",
        "food_items": "[\"Chocolate Chip Cookies\\nCinnamon Roll Cheesecake Cookies\\nPina Colada Bar\\nLemon Blueberry Pound Cake\", \"Red Velvet Cake\\nVegan Banana Cream Pie\\nMade Without Gluten Rochers\"]",
        "id": 13,
        "meal": "dessert"
    }, ...
]
      </code>
    </pre>
  <h3>Menus By Dining Hall, Day, and Meal [/api/menu/dining_hall/{dining_hall}/day/{day}/meal/{meal}/]</h3>
  <p>Find a menu with a specific dining hall, specific day of the week, and meal</p>
  <h4>Parameters</h4>
  <p>meal (enum[string])</p>
  <p> Name of the meal</p>
  <p>Members</p>
  <ul>
    <li>breakfast</li>
    <li>lunch</li>
    <li>dinner</li>
  </ul>
  <p>dining_hall (enum[string])</p>
  <p> Name of Dining Hall</p>
  <p>Members</p>
  <ul>
    <li>frary</li>
    <li>frank</li>
    <li>oldenborg</li>
    <li>cmc</li>
    <li>scripps</li>
    <li>mudd</li>
    <li>cmc</li>
  </ul>
  <p>day (enum[string])</p>
  <p>Name of the day of the week</p>
  <p>Members</p>
  <ul>
    <li>mon</li>
    <li>tue</li>
    <li>wed</li>
    <li>thu</li>
    <li>fri</li>
    <li>sat</li>
    <li>sun</li>
  </ul>
  <h4>Example request (GET)</h4>
  <pre>
        <code>
          curl "https://aspc.pomona.edu/api/menu/dining_hall/cmc/day/fri/meal/breakfast?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
        </code>
      </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
          <code>
{
    "day": "fri",
    "dining_hall": "cmc",
    "food_items": "[\"Breakfast Selections\", \"Scrambled Eggs\\nCheese & Bacon Eggs\\nTurkey Bacon & Sausage Patties\\nChorizo & Cheese Quesadilla\", \"Oatmeal & Grits\\nWaffles\\nHash Browns \\nCranberry & Apple Cinnamon Muffins\", \"Make Your Own Waffle Station\"]",
    "id": 11,
    "meal": "breakfast"
}
          </code>
      </pre>
  <h3>All Departments [/api/departmentss/{name}/]</h3>
  <p>List all departments</p>
  <h4>Example Request</h4>
  <pre>
      <code>
        curl "https://aspc.pomona.edu/api/departments?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
        {
    ...
    {
        "id": 30,
        "name": "Computer Sci-Mathematics",
        "code": "CSMT"
    },
    {
        "id": 31,
        "name": "Computer Science",
        "code": "CSCI"
    },
    ...
}
      </code>
    </pre>
  <h3>All Instructors [/api/instructors/{name}/]</h3>
  <p>List all instructors.</p>
  <h4>Example request (GET)</h4>
  <pre>
      <code>
        curl "https://aspc.pomona.edu/api/instructors?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
        {
    ...
    {
        "id": 597,
        "name": "Shahriari, Shahriar",
        "rating": 4.5,
        "useful_rating": 4.07352941176471,
        "engagement_rating": 3.41911764705882,
        "difficulty_rating": 3.91176470588235,
        "competency_rating": 3.83088235294118,
        "lecturing_rating": 3.625,
        "enthusiasm_rating": 4.70588235294118,
        "approachable_rating": 3.30147058823529,
        "inclusivity_rating": null
    },
    {
        "id": 1170,
        "name": "Adrian Soldatenko-Gutierrez",
        "rating": 2.66666666666667,
        "useful_rating": 3.0,
        "engagement_rating": 2.33333333333333,
        "difficulty_rating": 4.33333333333333,
        "competency_rating": 4.33333333333333,
        "lecturing_rating": 3.33333333333333,
        "enthusiasm_rating": 4.0,
        "approachable_rating": 3.0,
        "inclusivity_rating": null
    },
    ...
}

      </code>
    </pre>
  <h3>Instructors by Name [/api/instructors/{name}/]</h3>
  <p>Find instructors with their full or partial names.</p>
  <h4>Parameters</h4>
  <p>name (enum[string])</p>
  <p>The full or partial name of the instructor.</p>
  <h4>Example request (GET)</h4>
  <pre>
      <code>
        curl "https://aspc.pomona.edu/api/instructors/yamashita?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
{
        "id": 220,
        "name": "Yamashita, Samuel H.",
        "rating": 4.7037037037037,
        "useful_rating": 4.24691358024691,
        "engagement_rating": 2.67901234567901,
        "difficulty_rating": 4.06172839506173,
        "competency_rating": 2.85185185185185,
        "lecturing_rating": 2.71604938271605,
        "enthusiasm_rating": 4.65432098765432,
        "approachable_rating": 2.77777777777778,
        "inclusivity_rating": null
}
      </code>
    </pre>
  <h3>
    All Courses [/api/courses/{name}/]
  </h3>
  <p>List all courses.</p>
  <h4>Example request (GET)</h4>
  <pre>
      <code>
      curl "https://aspc.pomona.edu/api/courses?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
        {
    ...
 {
        "id": 518,
        "name": "Machine Learning    ",
        "code": "CSCI158  PO",
        "number": 158,
        "rating": 5.0,
        "useful_rating": 4.0,
        "engagement_rating": 5.0,
        "difficulty_rating": 3.0,
        "competency_rating": 5.0,
        "lecturing_rating": 5.0,
        "enthusiasm_rating": 4.0,
        "approachable_rating": 5.0,
        "inclusivity_rating": null,
        "department": {
            "id": 31,
            "name": "Computer Science",
            "code": "CSCI"
        }
    },
    {
        "id": 1978,
        "name": "Natural Language Processing",
        "code": "CSCI159  PO",
        "number": 159,
        "rating": 5.0,
        "useful_rating": 4.0,
        "engagement_rating": 5.0,
        "difficulty_rating": 3.0,
        "competency_rating": 5.0,
        "lecturing_rating": 5.0,
        "enthusiasm_rating": 5.0,
        "approachable_rating": 5.0,
        "inclusivity_rating": null,
        "department": {
            "id": 31,
            "name": "Computer Science",
            "code": "CSCI"
        }
    },
    ...
}
      </code>
    </pre>
  <h3>Courses by instructor [/api/courses/instructor/{instructor_id}/]</h3>
  <p>Find courses taught by an instructor.</p>
  <h4>Parameters</h4>
  <p>instructor_id (enum[string])</p>
  <p>The id of the instructor.</p>
  <h4>Example request (GET)</h4>
  <pre>
      <code>
        curl "https://aspc.pomona.edu/api/courses/instructor/47?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
{
    {
        "id": 52,
        "name": "Introduction to Int'l Politics    ",
        "code": "GOVT070  CM",
        "number": 70,
        "rating": null,
        "useful_rating": null,
        "engagement_rating": null,
        "difficulty_rating": null,
        "competency_rating": null,
        "lecturing_rating": null,
        "enthusiasm_rating": null,
        "approachable_rating": null,
        "inclusivity_rating": null,
        "department": {
            "id": 58,
            "name": "Government",
            "code": "GOVT"
        }
    }
}

      </code>
    </pre>
  <h3>Courses by department [/api/courses/department/{department-id}/]</h3>
  <p>Find courses in a department</p>
  <h4>Parameters</h4>
  <p>department-id (enum[string])</p>
  <p>The id of the department.</p>
  <h4>Example request (GET)</h4>
  <pre>
      <code>
        curl "https://aspc.pomona.edu/api/courses/department/25?auth_token=7e6806264aa1455fba544ef4c42b48ffce108d9c"
      </code>
    </pre>
  <h4>Example response 200 (application/json)</h4>
  <pre>
      <code>
{
    ...
    {
        "id": 243,
        "name": "Central Americans in the US    ",
        "code": "CHLT072  CH",
        "number": 72,
        "rating": null,
        "useful_rating": null,
        "engagement_rating": null,
        "difficulty_rating": null,
        "competency_rating": null,
        "lecturing_rating": null,
        "enthusiasm_rating": null,
        "approachable_rating": null,
        "inclusivity_rating": null,
        "department": {
            "id": 24,
            "name": "Chican@/Latin@ Transnatl",
            "code": "CHLT"
        }
    },
    {
        "id": 465,
        "name": "Decolonial Love US Latina/o Lit    ",
        "code": "CHLT185A CH",
        "number": 185,
        "rating": null,
        "useful_rating": null,
        "engagement_rating": null,
        "difficulty_rating": null,
        "competency_rating": null,
        "lecturing_rating": null,
        "enthusiasm_rating": null,
        "approachable_rating": null,
        "inclusivity_rating": null,
        "department": {
            "id": 24,
            "name": "Chican@/Latin@ Transnatl",
            "code": "CHLT"
        }
    },
    ...
}
      </code>
    </pre>
</div>