<section class="hero is-primary">
  <div class="hero">
    <div class="container">
      <h1 class="title" align="center">
        Pomona Events Committee
      </h1>
    </div>
  </div>
</section>

<br/>

<div class="container">
  <div class="content pec-content">
    <h1>PEC is...</h1>
    <p>Pomona Events Committee (PEC) is a subcommittee of ASPC that uses the student fees that you pay to help sponsor events for students. Our mission is to implement social, cultural, and recreational events to meet the broad social needs of the students of Pomona College. These events range anywhere from films on the weekends, to parties in Doms, to Symposium, to various off campus events.</p>
    <h1>PEC does...</h1>
    <p>As a Claremont College student, you have most likely been to several PEC events. We are most known for our big annual parties like Harwood Halloween and Smiley 80s, but we throw events like Table Manners, Symposium, Kick-Ass Snack and much more: Winter Formal, Movie Trivia Night, NO-CHELLA Festival, Covers Night, De-Stress Extravaganza, Pendleton Pool Party, Knotts Scary Farm, Ontario Reign Hockey Games, Swan Lake, etc.</p>
    <p>We love planning events and bringing in entertainment that gets students talking, thinking, and dancing. We are always looking for ways to get involved. If you have any ideas or would like to co-sponsor an event with PEC, contact vpcampusevents@aspc.pomona.edu.</p>
    <h2>Subcommittees</h2>
    <ol>
      <li>Annual Events</li>
      <li>Live Arts</li>
      <li>Symposium</li>
      <li>Off-Campus</li>
      <li>Table Manners</li>
      <li>North Campus/South Campus Committees</li>
    </ol>
    <h1>Got a GUEST?</h1>
    <p>Register on <a href="https://www.pomona.edu/administration/campus-center/reserving-space">Pomona Reserving Space and Registering An Event </a>. The GUEST must be present at the time of acquiring the pass!
      "Event organizers will assume full responsibility for all guests (guests are defined as individuals who are not students, faculty or staff of the Claremont Colleges). Each guest is to carry a completed guest pass. No individual at the event may bring more than two guests. Guest passes are available at the Residence Hall Desks, The Office of Campus Life, ASPC Office and from the Smith Campus Center Building Managers. Outside contractors (i.e. bands, DJ's etc.) may provide a list of up to 10 guests to the event organizers. Guests must be at least 18 years of age and provide proof of age to the event organizers at time of entrance. All guests will be held to the same rules and regulations as Pomona Students. Any guests who wish to consume alcohol must be at least 21 and show a valid ID."</p>
    <h1>Follow, Like, or Join!</h1>
    <p>Like us on <a href="https://www.facebook.com/PomonaEvents">Facebook</a>, and Join us on <a href="https://claremont.campuslabs.com/engage/organization/PEC">Engage</a> after logging in!</p>
  </div>
</div>




