<% content_for :header do %>
  <%= render 'components/page_header', :title => "ASPC API", :subtitle => "Access the full power of ASPC's services" %>
<% end %>

<div class="content api-content">
  <pre>
    def coming_soon():
      while You.wait_patiently():
        Developers.work_hard()
        Developers.thank(You)

    # Thank you for your patience! :)
  </pre>
</div>