<% content_for :header do %>
  <%= render 'components/page_header', :title => "Course Reviews", :subtitle => "Instructor and course reviews" %>
<% end %>

<div class="content">
  Course and Instructor Reviews are coming soon! We know how important these tools are in planning course schedules, so we
  will ensure all past reviews are available before the next course registration session. Thank you for your patience!
</div>