
<!-- Display the countdown timer in an element -->
<p style="text-align:center;" class="title is-1">Graduation Countdown <br> <span style="font-weight: lighter;", id="grad-timer"></span></p>


<p dir="ltr"><strong><span style="font-size: 36px; ">Senior Class Gift</span></strong></p>

<p dir="ltr">
	<br>
</p>

<p><strong><span style="font-size: 24px;">What is it?</span></strong></p>

<ul>
	<li>A monetary donation towards any department, club, or student organization of your choice, that has made an impact on your experience.</li>
	<li dir="ltr">

		<p dir="ltr">It&rsquo;s not about the amount of money (can literally be $1), but the amount of people in our class that donate! Our goal is 85% participation!</p>
	</li>
</ul>

<p>
	<br>
</p>

<p><strong><span style="font-size: 24px;">How to Donate</span></strong></p>

<ul>
	<li>Venmo Laura Zhang (@lzhang13) with the amount, and put in the caption where you want to designate your donation.</li>
	<li dir="ltr">

		<p dir="ltr">Bring cash to any Senior Class event!</p>
	</li>
</ul>

<p dir="ltr">
	<br>
</p>

<p><strong><span style="font-size: 24px;">Status</span></strong></p>

<ul>
	<li><strong>Current:&nbsp;</strong>52% participation</li>
	<li dir="ltr">

		<p dir="ltr"><strong>Goal:</strong> 85% participation</p>
	</li>
</ul>

<p dir="ltr">
	<br>
</p>

<p dir="ltr">
	<br>
</p>

<p dir="ltr"><strong><span style="font-size: 36px;">Calendar of Senior Events</span></strong></p>

<p dir="ltr">
	<br>
</p>

<p dir="ltr"><strong><span style="font-size: 24px;">Wig Award Voting Begins!</span></strong></p>

<ul>
	<li dir="ltr"><strong>Monday, March 25</strong></li>
	<li dir="ltr">Log onto my.pomona portal to vote for a professor who you believe deserves this honor!</li>
</ul>

<p data-empty="true">
	<br>
</p>

<p><span style="font-size: 24px;"><strong>Financial Planning Seminar (Part 1 of 3)</strong></span></p>

<ul>
	<li><strong>Sunday, March 31, Noon - 2 PM | Frank Blue Room</strong></li>
	<li dir="ltr">Topics include: taxes, budgeting, finding an apartment, setting up 401(k) and IRAs, and insurance (basically all that life stuff no one tells you about). Will be highly interactive! RSVP on Handshake.</li>
</ul>

<p>
	<br>
</p>

<p><span style="font-size: 24px;"><strong>(Young) Alumni Panel</strong></span></p>

<ul>
	<li dir="ltr"><strong>Friday April 5th, 6-7 PM</strong></li>
	<li dir="ltr">Three LA based alums (~5 years out of college, working in non-profits &amp; finance) will be coming to speak! Add questions to ask <a href="https://docs.google.com/document/d/1AmfY9padDgCGLhMr0UVlOO-VuFyPBDFllyn87g0yg-M/edit">here</a>. Wine &amp; beer provided.</li>
</ul>

<p>
	<br>
</p>

<p dir="ltr"><strong><span style="font-size: 24px;">Financial Planning Seminar (Part 2 of 3)</span></strong></p>

<ul>
	<li dir="ltr"><strong>Sunday, April 7, Noon - 2 PM | Frank Blue Room</strong></li>
	<li dir="ltr">Topics include: taxes, budgeting, finding an apartment, setting up 401(k) and IRAs, and insurance (basically all that life stuff no one tells you about). Will be highly interactive! RSVP on Handshake.</li>
</ul>

<p>
	<br>
</p>

<p><strong><span style="font-size: 24px;">4/7 Day</span></strong></p>

<ul>
	<li dir="ltr"><strong>Sunday April 7th, 4-7 PM</strong></li>
	<li dir="ltr">There should be an event with alumni, but more details coming soon</li>
</ul>

<p dir="ltr">
	<br>
</p>

<p><strong><span style="font-size: 24px;">Claremont Craft Ales Beer Tasting</span></strong></p>

<ul>
	<li><strong>Thursday, April 18, time TBA| Athearn Field</strong></li>
	<li dir="ltr">Sponsored by Alumni Office for reaching over 47% class gift participation!</li>
</ul>

<p>
	<br>
</p>

<p dir="ltr"><span style="font-size: 24px;"><strong>T</strong><strong>aste of Pomona (Alumni Weekend)</strong></span></p>

<ul>
	<li dir="ltr"><strong>Friday, May 3rd, 5 - 6:30 PM | Athearn Field</strong></li>
	<li dir="ltr">Senior-alumni mixer - great opportunity to meet alums and make connections!</li>
	<li dir="ltr">Free for senior class</li>
</ul>

<p dir="ltr">
	<br>
</p>

<p dir="ltr"><strong><span style="font-size: 24px;">All-Class Luncheon on the Quad (Alumni Weekend)</span></strong></p>

<ul>
	<li dir="ltr"><strong>Saturday, May 4th, noon - 1:30 PM</strong></li>
	<li dir="ltr">Event at the height of Alumni Weekend, there will be lawn games, and other fun activities!</li>
	<li dir="ltr">Free for senior class</li>
</ul>

<p>
	<br>
</p>

<p><span style="font-size: 24px;"><strong>Senior Reception</strong></span></p>

<ul>
	<li><strong>Thursday, May 9th, 6 - 8 PM | President&rsquo;s House</strong></li>
	<li dir="ltr">Celebration of the seniors at President Gabi Starr&rsquo;s house!</li>
</ul>

<p>
	<br>
</p>

<p><span style="font-size: 24px;"><strong>Class Day (</strong></span><a href="https://www.pomona.edu/commencement/class-day-2019"><span style="font-size: 24px;"><strong>schedule</strong></span></a><span style="font-size: 24px;"><strong>)</strong></span></p>

<ul>
	<li><strong>Saturday, May 18th, 10 AM</strong></li>
	<li dir="ltr">Includes:</li>
	<li dir="ltr">1. Academic department receptions</li>
	<li dir="ltr">2. Commencement Rehearsal</li>
	<li dir="ltr">3. Class Photo</li>
	<li dir="ltr">4. Walking out of the Gates</li>
	<li dir="ltr">5. Reveal the Class Banner</li>
	<li dir="ltr">6. More awards &amp; buffet dinner</li>
	<li dir="ltr">*Tickets: You get 3! One for yourself, and 2 for guests. Additional tickets are $10, and can be purchased at the Big Bridges Box Office starting in March.*</li>
</ul>

<p>
	<br>
</p>

<p><strong><span style="font-size: 24px;">Commencement (</span></strong><a href="https://www.pomona.edu/commencement"><strong><span style="font-size: 24px;">schedule</span></strong></a><strong><span style="font-size: 24px;">)</span></strong></p>

<ul>
	<li><strong>Sunday, May 19th, 9:30 AM</strong></li>
	<li dir="ltr">*No tickets necessary*</li>
	<li dir="ltr">Hearing aids available in Spanish &amp; Mandarin (additional languages available upon request)</li>
	<li dir="ltr">Return your cap &amp; gowns!</li>
</ul>


<script>
var countDownDate = new Date("May 14, 2023 10:00:00").getTime();

var x = setInterval(function() {


  var now = new Date().getTime();


  var distance = countDownDate - now;


  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("grad-timer").innerHTML = days + " Days " + hours + " Hours "
  + minutes + " Minutes " + seconds + " Seconds ";	

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("grad-timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>