/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar-3.9.0/fullcalendar.css
 *= require weekcalendar-2.0/jquery.weekcalendar.css
 *=
 *= require font-awesome
 *= require bulma/css/bulma.sass
 *= require bulma-calendar/dist/css/bulma-calendar.min.css
 *= require bulma-checkradio/dist/css/bulma-checkradio.min.css
 *= require megamenu.scss
 *
 *= require slick-carousel/slick/slick.css
 *= require slick-carousel/slick/slick-theme.css
 *
 *= require froala.scss
 *
 * Sass helpers file
 *= require helpers.scss
 *= require overrides.scss
 *
 * Page specific styles here
 *= require events.scss
 *= require sessions.scss
 *= require courses.scss
 *= require home.scss
 *= require static.scss
 *= require menu.scss
 *= require course_reviews.scss
 *
 * Global styles defined in this file
 *= require_self
 */

/*
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/*
 * General
 * Body, links, titles, headings
 */

body {
    font-family: 'Montserrat', sans-serif;
    color: #717171;
}

a {
    outline: 0;
}

.title, .subtitle, h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
}

.title, .title a {
    color: #2c3e50;
}

.title a:hover {
    color: #209cee;
}

/*
 * Header
 */

#application-header {
    background: #2c3e50;
    padding: 1.5rem 0;
}


#application-header.navbar-home {
    background-color: transparent;
    margin-bottom: -103px;
}

@media (max-width: 1024px) {
    #application-header .navbar-menu.is-active {
        position: absolute;
        width: 100%;
    }
}

#application-header:before {
    background: linear-gradient(to right, #0093d8 14%, #00a775 14%, #00a775 28%, #76b143 28%, #76b143 41%, #fed403 41%,
    #fed403 58%, #f7941e 58%, #f7941e 72%, #ed1c24 72%, #ed1c24 86%, #b3275a 86%, #b3275a 100%);
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    top: 0;
}

#application-header .navbar-brand .navbar-item:hover div {
    color: #209cee;
}

#application-header .navbar-brand .logo {
    height: 100%;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#application-header .navbar-brand .logo img {
    max-height: 2.4rem;
}

#application-header .navbar-brand .title {
    line-height: 1.25;
    color: #fff;
    margin-bottom: -3px;
}

#application-header .navbar-menu {
    font-family: 'Karla', sans-serif;
}

#application-header .navbar-link {
    padding-right: 2rem;
}

#application-header .navbar-item,
#application-header .navbar-link {
    background-color: transparent;
}

#application-header .navbar-item:hover,
#application-header .navbar-link:hover {
    color: #209cee;
}

#application-header .navbar-item.has-dropdown:hover .item-has-arrow:after {
    position: absolute;
    content: "";
    width: 0.75rem;
    height: 0px;
    border-top: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid white;
    border-left: 0.75rem solid transparent;
    border-radius: 2px;
    bottom: -0.25rem;
    left: 50%;
    margin-left: -1.125em;
}

#application-header .navbar-dropdown {
    border-top: 0;
    border-radius: 6px;
}

#application-header .navbar-link::after {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    transform: none;
    border: 0;
    display: inline-block;
    padding-top: 3px;
    vertical-align: middle;
    width: auto;
    height: auto;
    top: auto;
    font-size: 0.75rem;
}

@media (max-width: 1024px) {
    #application-header .navbar-link::after {
        display: none;
    }
}

#application-header .navbar-burger {
    border-radius: 6px;
    background: transparent;
}

#application-header .navbar-burger:hover {
    color: #209cee;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.1);
}

/*
 * Footer
 */

.footer {
    padding: 3rem;
    font-size: 1rem;
    box-shadow: 0 50vh 0 50vh #fafafa;
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }
}

.footer a {
    color: #2c3e50;
}

.footer a:hover {
    color: #209cee;
}

.footer .text {
    line-height: 2;
}

.footer .facebook {
    margin-right: 0.5rem;
}

.footer .twitter {
    margin-left: 0.5rem;
}

/*
 * Miscellaneous
 */

.hero-body {
    background: #2c3e50;
}

#alert-banner-container {
    height: 0;
    z-index: 100;
}