/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar-3.9.0/fullcalendar.css
 *= require weekcalendar-2.0/jquery.weekcalendar.css
 *=
 *= require font-awesome
 *= require bulma/css/bulma.css
 *= require bulma-calendar/dist/css/bulma-calendar.min.css
 *= require megamenu.scss
 *
 *= require slick-carousel/slick/slick.css
 *= require slick-carousel/slick/slick-theme.css
 *
 * Page specific styles here
 *= require events.scss
 *= require sessions.scss
 *= require courses.scss
 *= require static.scss
 *= require menu.scss
 *
 * Global styles defined in this file
 *= require_self
 */

/*
 * Header/Footer/Page Content
 */

#alert-banner-container {
    height: 0;
    z-index: 100;
}

.application-body-container {
    background:#2C3E50;
}

.application-content-section, .application-content-container {
    background: white;
}

.application-content-container {
    min-height: 60vh;
}

.application-footer {
    color: rgba(255, 255, 255, 0.3);
    margin-top: 3rem;
}

.application-footer .footer-logo {
    opacity: 0.2;
    margin-bottom: 1rem;
}

.application-footer .footer-text a {
    color: rgba(255, 255, 255, 0.4);
}

.application-footer .footer-text a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.page-header {
    background-color: #0071a6 !important;
}

/*
 * Global Color helpers
 */
.has-background-blue {
    background-color: #0071a6;
}

/*
 * 5C School Accent Colors
 */
.campus_UU { background-color: #9c9e9e !important; color: white !important; }
.campus_CGU { background-color: #71101b !important; color: white !important; }
.campus_CM { background-color: #da3d38 !important; color: white !important; }
.campus_CU { background-color: #391858 !important; color: white !important; }
.campus_KS { background-color: #391858 !important; color: white !important; }
.campus_HM { background-color: #ca9a0a !important; color: white !important; }
.campus_PO { background-color: #1860cc !important; color: white !important; }
.campus_PZ { background-color: #f49700 !important; color: white !important; }
.campus_SC { background-color: #889e5a !important; color: white !important; }

/*
 * Global Helpers
 */

.horizontal-scroll {
    overflow-x: scroll;
}

.vertical-scroll {
    overflow-y: scroll;
}

.cover-image {
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.no-underline {
    text-decoration: none !important;
}

.has-brightness {
    filter: brightness(1.25);
}