// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {

  .column {
    display: flex;
  }

  .event-date-box {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 6px 0 0 6px;
    box-shadow: none;

    .date {
      padding: 0.25rem;
      min-width: 45px;
    }
  }

  .event-info-box {
    width: 100%;
    border-radius: 0 6px 6px 0;
    box-shadow: none;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px 1px 1px 0;
  }
}