// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendarContainer {
  padding: 25px;
}

.eventLink {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}

.eventColumn {
  display: flex;
}

.eventCard {
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}