// Place all the styles related to the homepage here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Slideshow
 */

.primary-slideshow {
  z-index: 1;
  height: 400px;
  background: #2c3e50;

  .gradient {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(44, 62, 80, 0.9);

    .announcement-info {
      width: 100%;
      padding: 2.5rem 1.5rem 1.5rem;

      .title, .subtitle {
        line-height: 1.5;
      }

      @media only screen and (max-width: 600px) {
        .title, .subtitle {
          font-size: 2rem;
          line-height: 1.25;
        }
      }
    }
  }
}



.slick-dots li button::before,
.slick-dots li.slick-active button::before {
  color: #fff;
  font-size: 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  line-height: 1;
}

.slick-dots li,
.slick-dots li button {
  width: 0.75rem;
  height: 0.75rem;
  padding: 0;
  top: auto;
  bottom: 1.5rem;
}

.slick-next {
  right: 1.5rem;
  z-index: 10;
}

.slick-prev {
  left: 1.5rem;
  z-index: 10;
}

.slick-prev::before, .slick-next::before {
  font-family: 'FontAwesome';
  font-size: 2rem;
  font-weight: normal;
  opacity: 1;
}

.slick-prev::before {
  content: "\f053";
}

.slick-next::before {
  content: "\f054";
}

.slick-dots {
  bottom: 0;
}

/*
 * Events section
 */

#events-slideshow-desktop,
#events-slideshow-mobile {

  .slick-list {
    margin-bottom: 3rem;
  }

  .slick-dots {
    position: relative;

    li button::before,
    li.slick-active button::before {
      color: #2c3e50;
    }
  }
}

.events-slide {
  display: block !important;
}

.event .event-info {
  border-bottom-width: 2.5px;
  border-bottom-style: solid;
  padding-bottom: 1rem;
}

.event .event-info .event-date-time {
  margin-bottom: 0.25rem;
}

.event .title {
  margin-top: 1rem;
  font-weight: 300;
}

.event-UU {
  border-bottom-color: #9c9e9e;
}

.event-CGU {
  border-bottom-color: #71101b;
}

.event-CM {
  border-bottom-color: #da3d38;
}

.event-CU {
  border-bottom-color: #391858;
}

.event-KS {
  border-bottom-color: #391858;
}

.event-HM {
  border-bottom-color: #ca9a0a;
}

.event-PO {
  border-bottom-color: #1860cc !important;
}

.event-PZ {
  border-bottom-color: #f49700 !important;
}

.event-SC {
  border-bottom-color: #889e5a !important;
}

/*
 * TSL section
 */

.tsl-article .tsl-article-info p {
  padding-bottom: 1rem;
}

.tsl-article .title {
  font-weight: 300;
}

/*
 * Miscellaneous
 */

.home-heading .title {
  margin-bottom: 1rem;
}