// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box .columns {
  padding-bottom: 1em;
}

h4.subtitle {
  margin-bottom: 0.3em !important;
}