/*
 * Mixins file
 */
@mixin linear-gradient($from, $end, $to, $start) {
  background: $to;
  background: -moz-linear-gradient(top, $from $end, $to $start);
  background: -webkit-gradient(linear, left top, left bottom, color-stop($end, $from), color-stop($start, $to));
  background: -webkit-linear-gradient(top, $from $end, $to $start);
  background: -o-linear-gradient(top, $from $end, $to $start);
  background: linear-gradient(to bottom, $from $end, $to $start);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
  text-shadow: $x $y $blur $color;
}