// Place all the styles related to the Bulma overrides here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Generic
 */

a {
  color: #209cee;
}

/*
 * Tabs
 */

.tabs li.is-active a {
  color: #209cee;
}

.tabs.is-toggle li.is-active a {
  background-color: #209cee;
  border-color: #209cee;
}

/*
 * Cards
 */

.card {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

/*
 * Boxes
 */
.box {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

/*
 * Calendar
 */

.fc-button-group button:focus {
  outline: none;
}

.fc-button-group button::-moz-focus-inner {
  border: 0;
}

.fc-state-default {
  background-color: #f5f5f5;
  background-image: none;
  border-color: #e6e6e6;
  color: #333;
  text-shadow: none;
  box-shadow: none;
}

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #e6e6e6;
}

.fc-state-down {
  background-color: #cccccc;
}

.fc-state-active {
  background-color: #209cee;
  color: #fff;
}