// Place all the styles related to the Bulma overrides here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Tabs
 */

.tabs li.is-active a {
  color: #209cee;
}

.tabs.is-toggle li.is-active a {
  background-color: #209cee;
  border-color: #209cee;
}

/*
 * Cards
 */

.card {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

/*
 * Boxes
 */
.box {
  box-shadow: none;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}