// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Coop Fountain page
 */

.menu-rounded {
  border-radius: 4px;
  padding: 0;
}

.menu-rounded:first-child {
  margin-bottom: 10px;
}

.menu-content {
  width: 1344px;
}

/*
 * Senators
 */

.senator-image img {
  object-fit: cover;
  width: 700px;
  height: 700px;
}