// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.senator-position {
  font-weight: bold;
}

.senator-position-content {
  padding-bottom: 25px;
}

.bylaws-content {
  padding-bottom: 25px;
}

.constitution-content {
  padding-bottom: 25px;
}

.electionscode-content {
  padding-bottom: 25px;
}
