// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";

/*
 * Slideshow Styling
 */

.primary-slideshow {
  height: 50vh;
  min-height: 350px;
}

.slick-next {
  right: 1.5rem;
  z-index: 10;
}

.slick-prev {
  left: 1.5rem;
  z-index: 10;
}

.slick-prev::before, .slick-next::before {
  font-family: 'FontAwesome';
  font-size: 2rem;
  font-weight: normal;
  opacity: 1;
  @include text-shadow(1px, 1px, 1px, rgba(0, 0, 0, .2));
}

.slick-prev::before {
  content: "\f053";
}

.slick-next::before {
  content: "\f054";
}

.slick-slide {
  z-index: 1;

  .gradient {
    width: 100%;
    height: 100%;
    @include linear-gradient(transparent, 50%, rgba(0, 0, 0, 0.7), 100%);
    display: flex;

    .announcement-info {
      width: 100%;
      padding: 2.5rem 1.5rem 1.5rem;
      align-self: flex-end;
      @include text-shadow(1px, 1px, 1px, rgba(0, 0, 0, .2));

      .subtitle,
      .title {
        text-align: left;
      }

      .button:hover {
        @include text-shadow(0, 0, 0, transparent);
      }
    }
  }
}

/*
 * Page Specific Tweaks
 */

.senator-image img {
  object-fit: cover;
  width: 700px;
  height: 700px;
}

.senator-position {
  font-weight: bold;
}

.senator-position-content {
  padding-bottom: 25px;
}

.bylaws-content {
  padding-bottom: 25px;
}

.constitution-content {
  padding-bottom: 25px;
}

.electionscode-content {
  padding-bottom: 25px;
}

.positions-content {
  padding-bottom: 25px;
}

.committee-content {
  padding-bottom: 25px;
}

.software-content {
  padding-bottom: 25px;
}

.pec-content {
  padding-bottom: 25px;
}

.clubs-content {
  padding-bottom: 25px;
}

.staff-content {
  padding-bottom: 25px;
}

.api-content {
  padding-bottom: 25px;
}

.policies-content {
  padding-bottom: 25px;
}

.logo {
  position: absolute;
  height: 90%;
  top: 0;
}

.menu-rounded {
  border-radius: 6px;
  padding: 0;
}

.menu-rounded:first-child {
  margin-bottom: 10px;
}

.menu-content {
  width: 1344px;
}